-if @pre_registration && !@pre_registration.valid?
  =#content_for :head do
  :javascript
    $(document).ready(function(){
      $('#pre-register').modal('show');
    })
      
#pre-register.modal.hide
  .modal-header
    %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"}
      ×
    %h3
      How would you like to get involved?
  .modal-body
    .center
      =link_to "I'd like some help", '#pre-register-need', :class=>"btn call-to-action primary", :"data-toggle"=>"modal", :"data-dismiss"=>"modal"
      =link_to "I'd like to offer some help", '#pre-register-general-offer', :class=>"btn call-to-action", :"data-toggle"=>"modal", :"data-dismiss"=>"modal"
  .modal-footer
    =link_to "Just sign me up", "#pre-register-signup", :class=>"btn pull-right", :"data-toggle"=>"modal", :"data-dismiss"=>"modal"
    
#pre-register-signup.modal.hide
  =render("pre_registrations/modals/signup")
#pre-register-need.modal.hide
  =render("pre_registrations/modals/need")
#pre-register-general-offer.modal.hide
  =render("pre_registrations/modals/general_offer")