%p
  Share with friends to help grow the community
=link_to "#", :class=>"share-btn facebook-share-btn btn" do
  %i.icon-facebook
  Share on Facebook
=link_to "#", :class=>"share-btn twitter-share-btn btn" do
  %i.icon-twitter
  Share on Twitter  
=link_to "#", :class=>"share-btn email-share-btn btn" do
  %i.icon-envelope-alt
  Share on Email