=google_maps_javascript_include_tag
=content_for :head do
  =javascript_include_tag("markerclusterer")
  =javascript_include_tag("overlappingmarkerspiderfier")
  :javascript
    PreRegistrationMap.users = #{@pr_json};
    $(document).ready(function() {
      PreRegistrationMap.init();
      $("#select-all-link").click(function(event) {
        event.preventDefault();
        var selectAll = true;
        if ($(this).html() == 'Select all') {
          $(this).html('Select none');
        } else {
          selectAll = false;
          $(this).html('Select all');          
        }
        $("#pre-registrations-delete-form input[type='checkbox']").prop('checked', selectAll);
      });
    });

.row
  .span8
    %h1=title "Pre-registration map"
  .span4
    =link_to(pre_registrations_path(:format => 'xls'), :class => 'btn btn-primary pull-right mt-1') do
      %i.icon-download-alt
      Download spreadsheet
.row
  #map-canvas.span12{:style => "height:600px"}
.row.mt-2
  %h2.mb-2=pluralize(User.where(:role => 'pre_registration').count, 'Pre-registered user')
  =form_tag(destroy_all_pre_registrations_path, :method => :delete, :id => 'pre-registrations-delete-form') do
    %table.table.table-bordered
      %thead
        %tr
          %th.center.span1=link_to('Select all', '#', :id => 'select-all-link')
          %th Name
          %th Email
          %th Area
          %th Postcode
          %th Offers or requests
          %th Date registered
      %tbody
        -@pre_registered_users.each do |user|
          %tr
            %td.center=check_box_tag 'user_ids[]', user.id, false, :id => ''
            %td=link_to(user.full_name, user)
            %td=user.email
            %td=user.neighbourhood ? link_to_self(user.neighbourhood) : user.city
            %td=user.postcode
            %td
              -if user.needs.present?
                =link_to('1 request', user.needs.first)
              -elsif user.general_offers.present?
                =link_to('1 offer', user.general_offers.first)
            %td=user.created_at.strftime("%d/%m/%Y")
    =submit_tag('Delete selected pre-registered users', :class => 'btn btn-danger', :confirm => 'Are you sure you want to permanently delete all the selected pre-registered users?')
  .pull-right
    =will_paginate(@pre_registered_users)