=google_maps_javascript_include_tag
=content_for :head do
  =javascript_include_tag("markerclusterer")
  =javascript_include_tag("overlappingmarkerspiderfier")
  :javascript
    PreRegistrationMap.users = #{@pr_json};
    $(document).ready(function() {
      PreRegistrationMap.init();
    });

.row
  .span8
    %h1=title "Pre-registration map"
  .span4
    =link_to(pre_registrations_path(:format => 'xls'), :class => 'btn btn-primary pull-right mt-1') do
      %i.icon-download-alt
      Download spreadsheet
.row
  #map-canvas.span12{:style => "height:600px"}
