#header-intro-placeholder
        
.intro-text
  .container
    .row
      .preregister-header.mb-2.span8.offset2
        %h2.your-location-title
          %i.icon-map-marker
          =@pre_registration.area

        %h3
          We have 12 users in your area, but need more before we can launch
      .preregister-share.span8.offset2.mb-2
        .well
          =render("/pre_registrations/share_buttons")      
      .preregister-existing.span8.offset2
        %h3.mb-1
          Elsewhere
          
        %ul.elsewhere-list
          %li
            %h4
              %i.icon-map-marker
              Maltby  
            %p
              Live
          %li
            %h4
              %i.icon-map-marker
              Sheffield  
            %p
              Coming soon
