#header-intro-placeholder
        
.intro-text
  .container
    .row
      .preregister-header.mb-2.span8.offset2
        %h2.your-location-title
          %i.icon-map-marker
          =@pre_registration.area

        %h3
          We have users in your area, but need more before we can launch
      
      .preregister-existing.span8.offset2
        %h3.mb-1
          Elsewhere
                    
        %ul.elsewhere-list
          -Neighbourhood.order("created_at DESC").each do |area|
            %li
              %h4
                %i.icon-map-marker
                =area.name  
              %p
                =area.status  
