=google_maps_javascript_include_tag
=content_for :head do
  :javascript
    $(document).ready(function() {
      PreRegisteredOrganisation.init();
      var mapOptions = {
        center: new google.maps.LatLng('#{@pre_register_user.lat}', '#{@pre_register_user.lng}'),
        zoom: 16,
        disableDefaultUI: true,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    });


.container
#header-intro-placeholder
.container
  .row
    .preregister-header.mb-2.span8.offset2
      %h2.your-location-title
        %i.icon-map-marker
        =@pre_register_user.city
  .row
    #map-canvas.span8.offset2{:style => "height:150px"}
  .row
    .preregister-header.mb-2.span8.offset2
      %h3
        =neighbourhood_snippet_text(:not_in_your_area_title, "We have users in your area, but need more before we can launch")
      %p.mt-2
        =neighbourhood_snippet_text(:not_in_your_area_intro, "Here is some text that will be edited by John. This area is not available yet. This is the text shown at the top of all the areas that are not available yet. It will explain what it happening and what you can do next.")
    .preregister-share.span8.offset2.mb-2
      .well
        =render("/neighbourhoods/share_buttons")
    .preregister-existing.span8.offset2
      %h3.mb-1
        Elsewhere
      %ul.elsewhere-list
        -Neighbourhood.order("created_at DESC").each do |area|
          %li
            %h4
              %i.icon-map-marker
              =area.name
            %p
              =area.status            
    .preregister-feedback.span8.offset2
      %h3
        Give us feedback
      %p
        =link_to "Tell us what we can do for you", "/feedback", :class=>"feedback-link"
        
-if @pre_register_user.pre_registered_organisation?
  =render('modals/confirm_org_non_live_area')
        
