#pre-register-general-offer-form{:class => "#{@general_offer.errors.empty? ? 'hide' : ''}"}
  =semantic_form_for(@general_offer, :remote => true) do |form|
    =hidden_field_tag :return_to, (params[:return_to] || @next_url)
    .modal-header
      =link_to('x', (params[:return_to] || @next_url), :class => 'close')
      %h3 What can you offer help with?
    .modal-body
      =form.inputs do
        =form.input :category, :value => @general_offer.category.try(:id), :collection => NeedCategory.order(:name), :label => false, :prompt => 'Select a category', :input_html => {:class => 'span6'}
        =form.input :description, :label => false, :input_html => { :class => "span6", :rows => "2", :placeholder => "Describe how you can help"}, :required => false
        =form.input :radius, :as => :select, :collection => need_radius_options, :include_blank => false, :label => false, :prompt => "Select a broadcast radius", :help => "Neighbours who live within this distance from you will hear about your offer", :input_html => {:class => "span6"}
    .modal-footer
      =link_to "Back", "#", :class => 'btn pull-left pre-register-back-link'
      =form.commit_button "Next", :button_html => { :class => "btn btn-primary pull-right" }