=semantic_form_for(@general_offer ||= GeneralOffer.new, :remote => true) do |f|
  .modal-header
    %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"} ×
    %h3 What can you offer help with?
  .modal-body
    =f.inputs do
      =f.input :category, :value => @general_offer.category.try(:id), :label => false, :prompt => 'Select a category', :input_html => {:class => 'span6'}
      =f.input :description, :label => false, :input_html => { :class => "span6", :rows => "2", :placeholder => "Describe how you can help"}, :required => false
      =f.input :radius, :as => :select, :collection => need_radius_options, :include_blank => false, :label => false, :prompt => "Select a broadcast radius", :help => "People who live within this distance from you will hear about your offer", :input_html => {:class => "span6"}
  .modal-footer
    =link_to "Back", "#pre-register", :class=>"btn pull-left", :"data-toggle"=>"modal", :"data-dismiss"=>"modal"
    =f.commit_button "Tell your neighbours", :button_html => { :class => "btn-primary -pull-right" }