=semantic_form_for(@pre_register_user ||= User.new, :url => pre_registrations_path, :remote => true, :class => 'preregister-form') do |form|
  .modal-header
    %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"} ×
    %h3 Join now
  .modal-body
    .preregister-form
      %p.popup-intro
        =neighbourhood_snippet_text(:preregister_popup_intro, "Enter your details below to get involved.")
      =form.inputs(:class => 'form-horizontal') do
        =form.input :postcode, :input_html => { :class=>'span2', :placeholder => "Postcode"}
        =form.input :full_name, :label => 'Name', :input_html => { :class=>'span4', :placeholder => "Name"}
        =form.input :email, :input_html => { :class=>'span4', :placeholder => "Email"}
        =form.input :password, :label => 'Choose a password', :input_html => { :class=>'span4'}
        .controls.organisation-inputs
          =check_box_tag :as_organisation, 'checked', false, :class=>'pull-left'
          =label_tag 'as_organisation', "I'm signing up as an organisation", :class=>'pull-left ml-1'
        =link_to "Already registered?", "/login", :class=>"already-registered-link pull-right"
  .modal-footer
    =form.commit_button "Next", :button_html => {:data => {}, :class => "btn btn-primary btn-large"}