=semantic_form_for(@neighbourhood) do |form| 
  =form.inputs do
    =form.input :name, :input_html => {:class => "span6"}, :placeholder => "eg. Maltby or Carver Close"
    =form.input :postcode_prefix, :label => "Postcode prefix (optional)" ,:input_html => {:class => "span3"}, :placeholder => "eg. S66 or S10 5DN"
    =form.input :live, :label => "Tick to make live" ,:as => :boolean
    
  =form.buttons do
    =form.commit_button "Save"