#home-intro.mb-2
  .home-intro-text
    %h2.home-welcome.home-intro-text
      When you are validated
    %h3.home-where.home-intro-text you will be able to see activity in your neighbourhood
  .intro-circles  
    %i#circle1.icon-user.intro-circle-icon.circle1.fade_in.fade_one
    %i#circle2.icon-user.intro-circle-icon.circle1.fade_in.fade_two
    %i#circle3.icon-user.intro-circle-icon.circle2.fade_in.fade_three
    %i#circle4.icon-user.intro-circle-icon.circle3.fade_in.fade_four  
    %i#circle5.icon-user.intro-circle-icon.circle4.fade_in.fade_five     
    %i#circle6.icon-user.intro-circle-icon.circle4.fade_in.fade_six 
    %i#circle7.icon-user.intro-circle-icon.circle4.fade_in.fade_six