.container
  .row
    .span12
      %h1
        Stats
        =link_to(stats_neighbourhoods_path({:format => 'xls', :type => 'needs'}), :class => 'btn btn-primary pull-right mr-1 mb-1 btn-download-spreadsheet') do
          %i.icon-download-alt
          ="Download Needs"
        =link_to(stats_neighbourhoods_path({:format => 'xls', :type => 'offers'}), :class => 'btn btn-primary pull-right mr-1 mb-1 btn-download-spreadsheet') do
          %i.icon-download-alt
          ="Download Offers"
        =link_to(stats_neighbourhoods_path({:format => 'xls', :type => 'general_offers'}), :class => 'btn btn-primary pull-right mr-1 mb-1 btn-download-spreadsheet') do
          %i.icon-download-alt
          ="Download General Offers"

      %h2 Overall stats
      .container
        .row.mb-3
          .span2.offer-count-1
            %p
              %span.huge-offer-count=Offer.count
              %br
              offers made
          .span2.offer-count-2
            %p
              %span.huge-offer-count=Offer.where(:accepted => 1).count
              %br
              accepted offers
          .span2.offer-count-1
            %p
              %span.huge-offer-count=Need.count
              %br
              needs requested
          .span2.offer-count-2
            %p
              %span.huge-offer-count=Need.resolved.count
              %br
              resolved needs
          .span2.offer-count-1
            %p
              %span.huge-offer-count=GeneralOffer.count
              %br
              general offers
          .span2.offer-count-2
            %p.small-text
              %span.huge-offer-count=GeneralOffer.joins(:offers).count
              %br
              accepted general offers
      .mb-3
        %h2 Stats for each neighbourhood
        %ul.unstyled
          -@neighbourhoods.each do |neighbourhood|
            %li=link_to neighbourhood.name, stats_neighbourhood_path(neighbourhood)
        =render 'table'