%h1 Stats
%h2 Overall stats
%p
  %span.huge=Offer.count
  %br
  offers made in total
%p
  %span.huge=Offer.where(:accepted => 1).count
  %br
  accepted offers
%h2 Stats for each neighbourhood
%ul.unstyled
  -@neighbourhoods.each do |neighbourhood|
    %li=link_to neighbourhood.name, stats_neighbourhood_path(neighbourhood)