%h2.mb-2
  =title("All areas/neighbourhoods")
  
  
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Postcode
      %th Status
      %th Admin
      %th Actions
  %tbody
    -@neighbourhoods.each do |area|
      %tr
        %td=area.name
        %td=area.postcode_prefix
        %td=area.status
        %td=link_to(area.admin.full_name,area.admin) if area.admin
        %td
          =link_to("Edit", edit_neighbourhood_path(area))
          &middot;
          =link_to("Delete", area, :confirm => 'Are you sure?', :method => :delete)
      
=options_panel do
  =back_link
  =link_to "Add new area", new_neighbourhood_path
  