%h2.mb-2
  =title("All areas/neighbourhoods")
  
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Postcode
      %th Status
      %th Admin
      %th Users
      %th Actions
  %tbody
    -@neighbourhoods.each do |area|
      %tr
        %td=area.name
        %td=area.postcode_prefix
        %td=area.status
        %td=link_to(area.admin.full_name,area.admin) if area.admin
        %td
          %p.mb-0
            -if !area.users.where(:role => 'pre_registration').empty?
              ="#{area.users.where(:role => 'pre_registration').count} pre-registered".html_safe
              ="(#{link_to("Send emails", email_neighbourhood_path(area, 'pre_registration'))})".html_safe
              ="<br />".html_safe if !area.users.where(:role => 'group_user').empty?
            -if !area.users.where(:role => 'group_user').empty?
              =pluralize(area.users.where(:role => 'group_user').count, 'group user')
              ="(#{link_to("Send emails", email_neighbourhood_path(area, 'group_user'))})".html_safe
        %td
          =link_to("Edit", edit_neighbourhood_path(area))
          &middot;
          =link_to("Delete", area, :confirm => 'Are you sure?', :method => :delete)
          &middot;     
          =link_to("Snippets", neighbourhood_snippets_path(area))
          
      
=options_panel do
  =back_link
  =link_to "Add new area", new_neighbourhood_path
