=google_maps_javascript_include_tag
-content_for :head do
  :javascript
    $(document).ready(function() {
      NeedsMap.needs = #{@needs_json};
      NeedsMap.init();
    });
    
-title "My Neighbourhood"
.row
  -if current_user.validated?
    =render "validated_map"
  -else
    =render "unvalidated_map"
    
.row                                         
  .span6
    %h2 Neighbours who've been helped
    %ul.help-list.unstyled
      -@helped.each do |need|
        %li.list
          .list-image
            =link_to need, :rel => 'tooltip', :title => (need.user.street_name if current_user.try(:validated?)), :class => "pull-left" do
              =image_for_with_validation(need.user, "60x50#")
              %p.small-text
                =need.user
          .list-text
            %h3
              =link_to need.title, need
            %p
              -if current_user.validated?
                =need.description
              -else
                =need.category.description

    =link_to "I'd like some help", new_need_path, :class=>"btn call-to-action primary"
                            
  .span6
    %h2 Neighbours who need help
    %ul.help-list.unstyled
      -@need_help.each do |need|
        %li.list
          .list-image
            =link_to need, :rel => 'tooltip', :title => (need.user.street_name if current_user.try(:validated?)), :class => "pull-left" do
              =image_for_with_validation(need.user, "60x50#")
              %p.small-text
                =need.user
          .list-text
            %h3
              =link_to need.title, need
            %p
              -if current_user.validated?
                =need.description
              -else
                =need.category.description

    =link_to "I'd like to offer some help", needs_path, :class=>"btn call-to-action"    