%h1=title("Stats for neighbourhood #{@neighbourhood}")
%h2 Needs
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th=sortable "Date/Time"
      %th Description      
      %th=sortable "Category"
      %th Offers made
      %th=sortable "Resolved"
  %tbody
    -@needs.each do |need|
      %tr
        %td=need.id
        %td=need.created_at.strftime("%d %b %y %H:%M")
        %td=need.description
        %td=need.category
        %td=need.offers.count
        %td=need.offers.count > 0 ? need.has_accepted_offer? : "-"
%h2 Needs - removed
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th=sortable "Date/Time"
      %th Description      
      %th=sortable "Category"
      %th Offers made
      %th=sortable "Resolved"
  %tbody
    -@removed_needs.each do |need|
      %tr
        %td=need.id
        %td=need.created_at.strftime("%d %b %y %H:%M")
        %td=need.description
        %td=need.category
        %td=need.offers.count
        %td=need.offers.count > 0 ? need.has_accepted_offer? : "-"
%h2 Offers
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th=sortable "Date/Time"
      %th Need request description            
      %th=sortable "Accepted"
  %tbody
    -@offers.each do |offer|
      %tr
        %td=offer.id
        %td=offer.created_at.strftime("%d %b %y %H:%M")
        %td=offer.need.description
        %td=offer.accepted?