%h1=title("Stats for neighbourhood #{@neighbourhood}")
%h2 Needs Open
-if @needs_open.present?
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th ID
        %th Person In Need
        %th=sortable "Date/Time"
        %th Description      
        %th=sortable "Category"
        %th Offers made
        %th
    %tbody
      -@needs_open.each do |need|
        %tr
          %td=link_to need.id, need_path(need)
          %td=link_to need.user.full_name, user_path(need.user)
          %td.date-time=need.created_at.strftime("%d %b %y %H:%M")
          %td=read_more_truncate(need.description, :length => 50)
          %td=need.category
          %td=need.offers.count
-else
  %p No needs open.
%h2 Needs Resolved
-if @needs_resolved.present?
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th ID
        %th=sortable "Person In Need"
        %th=sortable "Person Who Helped"
        %th=sortable "Date/Time"
        %th Description
        %th=sortable "Category"
        %th Offers made
    %tbody
      -@needs_resolved.each do |need|
        %tr
          %td=link_to need.id, need_path(need)
          %td=link_to need.user.full_name, user_path(need.user)
          %td=link_to need.offers.where(:accepted => true).first.user.full_name, user_path(need.offers.where(:accepted => true))
          %td.date-time=need.created_at.strftime("%d %b %y %H:%M")
          %td=read_more_truncate(need.description, :length => 50)
          %td=need.category
          %td=need.offers.count
-else
  %p No needs resolved.
%h2 Needs Removed
-if @needs_removed.present?
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th ID
        %th=sortable "Person In Need"
        %th=sortable "Date/Time"
        %th Description      
        %th=sortable "Category"
        %th Offers made
        %th=sortable "Resolved"
    %tbody
      -@needs_removed.each do |need|
        %tr
          %td=link_to need.id, need_path(need)
          %td=link_to need.user.full_name, user_path(need.user)
          %td.date-time=need.created_at.strftime("%d %b %y %H:%M")
          %td=read_more_truncate(need.description, :length => 50)
          %td=need.category
          %td=need.offers.count
          %td=need.offers.count > 0 ? need.has_accepted_offer? : "-"
-else
  %p No removed needs.
%h2 Offers Open
-if @offers_open.present?
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th ID
        %th=sortable "Person who offered"
        %th=sortable "Person who needed"
        %th=sortable "Date/Time"
        %th Need request description
        %th=sortable 'Need category'
    %tbody
      -@offers_open.each do |offer|
        %tr
          %td=link_to offer.id, need_path(offer.need)
          %td=link_to offer.user.full_name, user_path(offer.user)
          %td=link_to offer.need.user.full_name, user_path(offer.need.user)
          %td.date-time=offer.created_at.strftime("%d %b %y %H:%M")
          %td=read_more_truncate(offer.need.description, :length => 50)
          %td=offer.category
-else
  %p No offers open.
%h2 Offers Accepted
-if @offers_accepted.present?
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th ID
        %th=sortable "Person Who Offered"
        %th=sortable "Person Who Needed"
        %th=sortable "Date/Time"
        %th Need request description
        %th=sortable 'Need category'
    %tbody
      -@offers_accepted.each do |offer|
        %tr
          %td=link_to offer.id, need_path(offer.need)
          %td=link_to offer.user.full_name, user_path(offer.user)
          %td=link_to offer.need.user.full_name, user_path(offer.need.user)
          %td.date-time=offer.created_at.strftime("%d %b %y %H:%M")
          %td=read_more_truncate(offer.need.description, :length => 50)
          %td=offer.category
-else
  %p No offers accepted.
%h2 Offers Removed
-if @offers_removed.present?
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th ID
        %th=sortable "Person Who Offered"
        %th=sortable "Person Who Needed"
        %th=sortable "Date/Time"
        %th Need request description            
        %th=sortable "Accepted"
        %th=sortable 'Need category'
    %tbody
      -@offers_removed.each do |offer|
        %tr
          %td=link_to offer.id, need_path(offer.need)
          %td=link_to offer.user.full_name, user_path(offer.user)
          %td=link_to offer.need.user.full_name, user_path(offer.need.user)
          %td.date-time=offer.created_at.strftime("%d %b %y %H:%M")
          %td=read_more_truncate(offer.need.description, :length => 50)
          %td=offer.accepted? ? 'Yes' : 'No'
          %td=offer.category
-else
  %p No offers removed.