=content_for(:head) do
  :javascript
    $(document).ready(function() {
      YmCms.Slideshow.init({interval: 5000, pause: false});
    });

.row
  .span12
    #slideshow-carousel.carousel.slide{:'data-interval' => slideshow.interval || 5000}
      %ol.carousel-indicators
        -slideshow.slides.each_with_index do |slide, index|
          %li{ :class => index == 0 ? 'active' : '', :data => { :slide_to => index, :target => '#slideshow-carousel' } }
      .carousel-inner
        -slideshow.slides.each_with_index do |slide, index|
          .item{ :class => index == 0 ? 'active' : '' }
            -if slide.has_video?
              %iframe{:width => 620, :height => 345, :src => "#{slide.video_embed_url}?api=1", :frameborder => 0, :allowfullscreen => true}
            -else
              %img{ :alt => '', :src => "#{Settings.site_url}#{slide.image.url}" }
            -if slide.caption.present? && !slide.has_video?
              .carousel-caption=slide.caption.html_safe
      %a.left.carousel-control{"data-slide" => "prev", :href => "#slideshow-carousel"} ‹
      %a.right.carousel-control{"data-slide" => "next", :href => "#slideshow-carousel"} ›