!!!
%html
  %body
    %p
      =@user ? "Dear #{@user.first_name}," : "Hi,"
    %p
      =@group_invitation.inviter.first_name
      has invited you to join the group
      %strong=@group_invitation.group
      ="on #{Settings.site_name}."
    %p
      =link_to("View the group", group_invitation_ref_url(@group_invitation, :ref => @group_invitation.ref))
    %p
      Thanks,
    %p
      ="The #{Settings.site_name} team"
      %br
      =Settings.site_url