!!!
%html
  %body
    %p Hi site admin,
    %p
      Someone has reported
      =link_to(@flag.resource_name, polymorphic_url(@flag.resource))
      as inappropriate.
    %p
      =link_to("View all inappropriate content", flags_url)
    %p
      Thanks,
    %p
      ="The #{Settings.site_name} team"
      %br
      =Settings.site_url
    
    
