!!!
%html
  %body
    %p
      ="Dear #{@member.first_name},"
    %p
      ="#{@user} has posted in the Neighbourhood Discussion Forum."
    %p
      =link_to("Go to the neighbourhood discussion forum", neighbourhood_posts_path(:neighbourhood => "sheffield"))
    %p
      Thanks,
    %p
      ="The #{Settings.site_name} team"
      %br
      =Settings.site_url