!!!
%html
  %body
    %p
      ="Hi #{@user.first_name},"
    %p
      We're very pleased to tell you that you have been validated and can now use the whole site.
    %p
      Thanks,
    %p
      ="The #{Settings.site_name} team"
      %br
      =Settings.site_url
    
    
