.comment-form
  =image_for_with_validation(current_user, "30x30#"), current_user, :class => "comment-image"
  =semantic_form_for(comment, :remote => true, :html => {:class => "loader-long"}) do |form|
    =form.hidden_field :post_id
    =form.inputs do
      =form.input :text, :label => false, :input_html => {:rows => 1, :placeholder => "Write a comment...", :id => "", :class => "autogrow-short"}
      
    =form.commit_button "Post", :button_html => { :class => "btn-primary btn-mini pull-right mt-1" }