.row
  .span8.offset2
    %h1=title "#{ @user ? 'My' : 'All' } requests"
    
    %ul.nav.nav-tabs.nav-stacked
      -@needs.order('created_at DESC').each do |need|
        %li
          =link_to need do
            .list-image
              =image_for(need.user, "60x50#")
              %p.small-text=need.user
            %h3=need.title
            %p
              %span.badge 2
              %span.request-message-text
                messages
               

