.row
  .help-box.span8.offset2
    .help-well.well
      %h2.help-title I can help with
      %form{:action => search_needs_path, :method => 'get'}
        =text_field_tag 'q', params[:q], :placeholder=>"e.g. Gardening", :input_html => {:class => "can-help-input"}
        %input.hide{:type => 'submit', :value => "Go"}
    
    %h1=title "People who need help"
    
    %ul.help-list.unstyled
      -if @needs.empty?
        %li.list.list-result
          Sorry, no results found.
      -@needs.each do |need|
        %li.list.list-result
          .list-image
            =link_to need.user do
              =image_for(need.user, "60x50#")
              %p.small-text=need.user
          .list-text
            %h3
              =link_to_self(need)
            =simple_format(need.description)
          =link_to "I can help", need, :class=>"btn i-can-help-btn"
    .clearfix
    
