.row.mt-3
  .span12
    %h1 I'd like some help
.row
  .span12.tag-selectors  
    .tag-selector.tag-selector-row-1.clearfix
      %h3.mb1
        Select a category below...
      %ul.help-tags.unstyled
        -NeedCategory.root.each do |category|
          %li=link_to(category, '#', :class => "need-category help-tag btn#{@need.category_id == category.id ? ' btn-primary' : ''}", :data => {:category_id => category.id})
        
    #need-sub-categories.tag-selector.tag-selector-row-2.clearfix.hide
      %span.tag-selector-arrow
      %h3.mb1 More specifically...
      %ul.help-tags.unstyled

.row
  %hr
  .help-box.span8.offset2
    %h2.mt-3=title 'Add a request for help'
    -if @need.category.present? && @need.category.sub_categories.count.zero?
      %p="Ok, so you need help with \"#{@need.category}\"."
      %p Please give more description of what help you need and then press 'Send'.
    -else
      %p Please tell us what you would like help with and then press 'Send'.
    =render('form')