.row.mt-3
  .span12
    %h1 I'd like some help
.row
  .span12.tag-selectors  
    .tag-selector.tag-selector-row-1.clearfix
      %h3.mb1
        Select a category below...
      %ul.help-tags.unstyled
        -NeedCategory.root.each do |category|
          %li=link_to(category, '#', :class => "need-category help-tag btn#{@need.category_id == category.id ? ' btn-primary' : ''}", :data => {:category_id => category.id})
        
    #need-sub-categories.tag-selector.tag-selector-row-2.clearfix.hide
      %span.tag-selector-arrow
      %h3.mb1 More specifically...
      %ul.help-tags.unstyled

.row
  %hr
  .span6
    %h2 People currently offering help    
    %ul#suggested-offers.loader-square.help-list.unstyled
      -Offer.general_offers.random(5).each do |offer|
        =render('offers/list_item', :offer => offer)
  .help-box.span6
    =render('form')
