.row
  .span2
    =link_to @need.user, :class => "user-thumbnail-large" do
      =image_for(@need.user, "120x120#")
      %p=@need.user
  .span8
    .request-body.mb2
      %h1=title @need.title
      =simple_format(@need.description)
      
#request-activity.row
  -if logged_in_as?(@need.user) && @offers.empty?
    .span9.offset2
      .alert.alert-info
        Sorry, no one has offered to help you with this yet. In the meantime why don't you
        =link_to("click here", need_path)
        to see who you could help?               
      =link_to "Find someone who needs your help", needs_path, :class=>"btn call-to-action"
  -else
    .span6.offset1
      -if @need.user != current_user
        .well
          %b
            %i.icon-exclamation-sign
            =@need.user
            needs your help
          %p.mb3
            If you think you can help, then click on this button to start a private discussion with
            ="#{@need.user}."
          =link_to "Maybe I can help", "#offer-form", :'data-toggle' => "modal",  :class => "btn btn-primary mb-2"
      %ul.unstyled
        -@need.posts.order("created_at DESC").each do |post|
          %li.post
            .row
              .span1
                .list-image
                  =link_to post.user do
                    =image_for(post.user, "60x60#")
                    %p.small-text
                      =post.user
              .span4
                .post-speech=simple_format(post.text)
                .post-actions
                  -if @need.user == current_user
                    -if offer = @need.offers.where(["offers.user_id = ?", post.user_id]).first
                      =link_to "#", :class=>"post-action" do
                        %i.icon-comment
                        Reply
                      -if offer.accepted?
                        %span.badge.badge-success Accepted
                        =link_to reject_offer_path(offer), :class=>"post-action" do
                          %i.icon-remove
                          Un-accept
                      -elsif @need.accepted_offer.nil?
                        =link_to accept_offer_path(offer), :class=>"post-action" do
                          %i.icon-ok
                          Accept this offer
    .span4
      -if @offers.present?
        %h3.mb1 People offering help
        %ul.thumbnails
          -@offers.each do |offer|
            %li.span1
              .list-image.thumbnail
                =link_to offer.user do
                  =image_for(offer.user, "60x60#")
                  %p.small-text
                    =offer.user

-if @need.user != current_user
  .row
    .span12
      #offer-form.modal.hide.fade
        -if @need.offers.exists?(:user_id => current_user.id)
          =render("needs/modal_post_form", :need => @need)
        -else
          =render('offers/modal_form')