=render('wireframes/control_panel')
.row
  .span8.offset2
    %ul.pager
      %li
        -if @need.user == current_user
          =link_to "&uarr; My requests".html_safe, user_needs_path(current_user)
        -else
          =link_to "&uarr; All requests".html_safe,  needs_path
    .request-body.mb2.mt2 
      %h1=title @need.title
      =simple_format(@need.description)
#request-activity.row
  .span6.offset1
    %ul.unstyled
      %li.post
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Sarah
        .post-speech
          %p
            I might be able to help you on a friday at 3pm?
        .post-actions
          =link_to "#", :class=>"post-action" do
            %i.icon-comment
            Reply
      %li.post
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Alan
        .post-speech
          %p
            I have some IT experience and I could give you a hand if you wanted. 
        .post-actions
          =link_to "#", :class=>"post-action" do
            %i.icon-comment
            Reply
      %li.post
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Bob
        .post-speech
          %p
            I only use Macs I'm afraid. Do you have an iPad?
        .post-actions
          =link_to "#", :class=>"post-action" do
            %i.icon-comment
            Reply

  .span4
    %h3.mb1 People offering help
    %ul.thumbnails
      %li.span1
        =link_to "#", :class=>"thumbnail" do
          =image_tag "person.png"
      %li.span1
        =link_to "#", :class=>"thumbnail" do
          =image_tag "person.png"
      %li.span1
        =link_to "#", :class=>"thumbnail" do
          =image_tag "person.png"
      %li.span1
        =link_to "#", :class=>"thumbnail" do
          =image_tag "person.png"
      %li.span1
        =link_to "#", :class=>"thumbnail" do
          =image_tag "person.png"
      %li.span1
        =link_to "#", :class=>"thumbnail" do
          =image_tag "person.png"                                                  
