.row
  .span8.offset2
    %h1=title "My requests"
    -if @needs.count > 0
      %p
        -if current_user.validated?
          Here are all your requests. Check back here to see if you've got any new messages. In the meantime why not
          =link_to("click here",needs_path)
          to see if you could help someone else.
        -else
          Your request for help will be seen by other people as soon as you're validated.
      %ul.nav.nav-tabs.nav-stacked
        -@needs.order('created_at DESC').each do |need|
          %li
            =link_to need do
              .list-image
                =image_for_with_validation(need.user, "60x50#")
                %p.small-text=need.user
              %h3=need.title
              %p
                =messages_badge(current_user.new_notification_count("my_requests", need))
      .row
        .span6
          =link_to "Add another request for help", new_need_path, :class=>"btn call-to-action primary"
    -else
      %p
        You haven't asked for any help yet.
        .row
          .span6.offset2
            =link_to "Add a request for help", new_need_path, :class=>"btn call-to-action primary"      

