.row
  .span12
    %h1
      -if @neighbourhood && current_page?(neighbourhood_news_path(@neighbourhood))
        Community Noticeboard
      -elsif @page == Page.find_by_slug(:news)
        At the HQ
      -else
        =@page.title
    =raw(@page.text)
.row.mb-2
  .span9
    -if @page_children.blank? && @neighbourhood.present?
      %p="There's no news for the #{@neighbourhood} neighbourhood yet."
    -else
      -@page_children.latest.each do |page|
        .row.mb-2
          .span3.fade_in
            =link_to(image_for(page, "220x160#"), page)
          .span6
            %h3
              =link_to_self(page)
              -if @page.slug == "blog"
                \- 
                =(page.publication_date || page.created_at).to_s(:date)
            %p=truncate(strip_tags(page.text).gsub!("&nbsp;", "") , :length => 220)
            =link_to raw('&rarr; Read more'), page
  .span3
    %h3.mb-2
      -if @neighbourhood && current_page?(neighbourhood_news_path(@neighbourhood))
        =link_to_slug('At the HQ', :news)
      -elsif @neighbourhood
        =link_to 'Community Noticeboard', neighbourhood_news_path(@neighbourhood)
    =twitter_widget('NeighbrsCanHelp', '347263947990241280')

-if slug_is?('blog')
  .row.mb-2
    .span9
      =link_to("Let us know what you think",feedback_path)
-if can?(:new, Page.new)
  .row.mb-2
    .span2
      =link_to("+ Add a subpage", new_child_page_path(:parent_id => @page.id))
.row
  .span8
    =options_panel do
      =back_link
      =link_if_can("Edit page", [:edit, @page])
      =link_if_can("Delete page", [:destroy, @page], :confirm => "Are you sure?") unless @page.slug.present?
      =link_if_can("New page", [:new, Page.new])
      =#link_if_can("Set order", [:order, Page])