!!!
%html
  %body
    %p Hi site admin,
    %p There has been new feedback added on the site.
      
    %p
      =link_to("See all feedback", enquiries_url)
    %p
      Thanks,
    %p
      ="The #{Settings.site_name} team"
      %br
      =Settings.site_url
    
    
