=semantic_form_for(@group) do |form|
  =form.inputs do
    =render 'groups/tabs/group_details', :form => form
  =form.buttons do
    =form.commit_button 'Save', :button_html => {:class => 'btn btn-primary btn-large'}