=link_to(group, :class => "span3 group-tile") do
  .inner.clearfix
    .group-tile-image-wrap
      =image_for(group, '190x130#')
    %h4
      =group.name
      -if group.private?
        %span.pull-right.label.label-important Private