%ul.nav.nav-tabs.group-nav-tabs.mb-3
  %li{:class => "#{'active' if action_name.show?}"}
    =link_to(@group) do
      %i.icon-comment
      Posts
  %li{:class => "#{'active' if action_name.members?}"}
    =link_to(members_group_path(@group)) do
      %i.icon-group
      ="Members (#{@group.members.count})"
  %li
    =link_to "/wireframes/group_show_photos" do
      %i.icon-camera
      Photos (5)
    
  %li
    =link_to "/wireframes/group_show_messages" do
      %i.icon-envelope
      Private messages