.container.mb-2
  .row
    .span2
      =image_tag('groups-logo.png', :class=>'groups-logo mb-2')
    .span10
      %h1.page-title.mb-0.mt-2
        Groups
      %h2.lead
        Share with the important groups in your life
.container
  .row
    .span12
      %h2 What are groups?
      %p
        =snippet_text(:about_groups, 'Share with the important groups in your life.')
        =edit_snippet_link(:about_groups)
  .row
    .span7
      =link_to(new_group_path, :class => "btn call-to-action", :id => "create-group-cta") do
        %i.icon-plus
        Create a Group
  .row
    .span7
      =link_to(popular_groups_path, :class => "btn call-to-action primary") do
        Join a Group
