.container.mb-2
  .row
    .span2
      =image_tag('groups-logo.png', :class=>'groups-logo mb-2')
    .span10
      %h1.page-title.mb-0.mt-2
        Groups
      %h2.lead
        Share with the important groups in your life
.container
  .row
    .span7
      %h2 What are groups?
      %p
        =snippet_text(:about_groups, 'Share with the important groups in your life.')
        =edit_snippet_link(:about_groups)
      -if current_user
        =link_to(new_group_path, :class => "btn call-to-action", :id => "create-group-cta") do
          %i.icon-plus
          Create a Group
      -else
        =render 'modals/group_log_in_or_join', :return_to => new_group_path, :group_join_path => new_group_path
        =link_to('#group-log-in-or-join', :'data-toggle' => 'modal', :class => "btn call-to-action", :id => "create-group-cta") do
          %i.icon-plus
          Create a Group
          
      =link_to(popular_groups_path, :class => "btn call-to-action primary") do
        Join a Group
    .span3.offset2
      .row
        -Group.most_members.limit(2).each do |group|
          =render group