-if @group
  =render('groups/header')
.row.mb-2
  .span12
    %h1.page-title.mb-3.mt-0
      My groups
    .row
      =render @groups
      =link_to(new_group_path, :class=>"span3 group-tile group-tile-new") do
        .inner.clearfix
          .group-tile-image-wrap
            %i.icon-plus
          %h4  
            Add a new group
-if current_user.group_invitations.present?
  .row.mb-2.mt-3
    .span12
      %h1.page-title.mb-3.mt-0
        Invitations
      .row
        =render current_user.group_invitations.includes(:group).collect(&:group)
.row.mb-2.mt-3
  .span12
    %h1.page-title.mb-3.mt-0
      Popular groups nearby
    .row          
      =render @popular_groups
    -if @popular_groups.next_page
      .row
        .span12
          .pull-right
            =will_paginate(@popular_groups)