.row
  .span10.offset1
    -if @user
      %h1.page-title Enter your group and your own details
      =render 'groups/group_and_user_form'
    -else
      %h1.page-title Enter your group details
      =render('groups/form')

