=render('groups/header')
-if @group.has_member?(current_user)
  .row#group-posts
    .span7
      %h2.mb-2
        Posts
      =render("posts/remote_form", :post => current_user.posts.build(:target => @group))
      =render("posts/posts", :posts => @group.posts.page(params[:page]))
    -if (tags = Tag.for_post_target(@group).most_used).length > 1
      .span4.offset1.groups-tags-list
        %h4.mb-2 Tags
        %ul.unstyled
          -tags.each do |tag|
            %li
              =link_to(tag) do
                %span.label.tag-label=tag
.row.mt-2
  .span12
    =options_panel do
      =link_if_can("Edit group", [:edit, @group])
      =link_if_can("Delete group", [:delete, @group], :confirm => "Are you sure?", :method => :delete)
      =link_if_can("Destroy group", [:destroy, @group], :confirm => "Are you sure?", :method => :delete)
      
#inappropriate.modal.hide.fade
  =render("flags/modal_form", :flag => Flag.new)