-size ||= "60x50#"
=link_to_with_tooltip(can?(:read, target) ? target : '#', :user => user, :class => "pull-left #{size == '120x120#' ? 'user-thumbnail-large' : ''}") do
  =image_for(user, size)
  %p{:class => "#{'small-text' if size == '60x50#'}"}
    =user