%table.table.table-striped.table-users.table-condensed
  %tbody
    %tr
      %th=sortable "Full name", tab
      %th Address
      %th=sortable "Validation Code", tab
      %th Gender
      %th=sortable "Date of birth", tab
      %th=sortable "Email address", tab
      %th Phone number
      -unless tab == "group_users" || tab == "pre-registered" || tab == "not_in_sheffield"
        %th=sortable(tab == "unvalidated" ? 'Requested validation by' : 'Validated by', tab)
      -unless tab == "unvalidated" || tab == "group_users" || tab == "pre-registered" || tab == "not_in_sheffield"
        %th=sortable "Organisation name", tab
        %th=sortable "Neighbourhood champion?", tab
        %th=sortable "Requested to be a champion?", tab
        %th=sortable "Assigned neighbourhood champion?", tab
      -if tab == "unvalidated"
        %th="Sent activation code"
      %th Actions
    -users.each do |user|
      -if current_user.admin? || user.try(:neighbourhood).try(:admin_id) == current_user.id
        %tr
          %td=full_name_and_role(user)
          %td=user.address
          %td
            %code=user.validation_code
          %td=user.gender.titleize
          %td=user.dob.present? ? user.dob.to_s(:date) : "not disclosed"
          %td=user.email.presence || '-'
          %td=user.phone.presence || '-'
          -unless tab == "group_users" || tab == "pre-registered" || tab == "not_in_sheffield"
            %td=user.validate_by.try(:humanize).presence || '-'
          -unless tab == "unvalidated" || tab == "group_users" || tab == "pre-registered" || tab == "not_in_sheffield"
            %td=user.validate_by == "organisation" ? user.organisation_name.presence || '-' : "n/a"
            %td=user.is_community_champion? ? 'Yes' : 'No'
            %td=user.champion_request_at.present? ? 'Yes' : 'No'
            %td=user.community_champion.try(:full_name) || '-'
          -if tab == "unvalidated"
            %td
              -if user.sent_activation_code_at?
                =user.sent_activation_code_at.strftime("%d %b %y %H:%M")
              -else
                =link_to "Mark sent", send_activation_code_user_path(user), :method => :put
          %td=link_to "View actions", "##{tab}-user-#{user.id}", :'data-toggle'=>"modal"