%p
  %strong Validated by
  =user.validate_by.try(:humanize)
-if user.validate_by == "credit_card"
  -user.credit_card_attributes.each do |attr_name|
    %p
      %strong=attr_name.sub(/^formatted_/, '').humanize
      =user.send(attr_name).try(:humanize)
-elsif user.validate_by == "organisation"
  %p
    %strong Organisation name
    =user.organisation_name