-title("Users")

%ul.nav.nav-tabs
  %li.active
    =link_to '#unvalidated', :'data-toggle' => 'tab' do
      Unvalidated
      %span.badge=@unvalidated_users.count
  %li
    =link_to '#validated', :'data-toggle' => 'tab' do
      Validated
      %span.badge=@validated_users.count
  %li
    =link_to '#champion_requests', :'data-toggle' => 'tab' do
      Champion requests
      %span.badge=@community_champion_requests.count
  %li
    =link_to '#champions', :'data-toggle' => 'tab' do
      Champions
      %span.badge=@community_champions.count

.tab-content
  #unvalidated.tab-pane.fade.in.active
    =render('table', :users => @unvalidated_users, :tab => "unvalidated")
  #validated.tab-pane.fade.in
    =render('table', :users => @validated_users, :tab => "validated")
  #champion_requests.tab-pane.fade.in
    =render('table', :users => @community_champion_requests, :tab => "champion_requests")
  #champions.tab-pane.fade.in
    =render('table', :users => @community_champions, :tab => "champions")
#choose-community-champion.modal.hide.fade
