-title("Users")

%ul.nav.nav-tabs
  %li.active
    =link_to '#unvalidated', :'data-toggle' => 'tab' do
      Unvalidated users
      %span.badge=@unvalidated_users.count
  %li
    =link_to '#validated', :'data-toggle' => 'tab' do
      Validated users
      %span.badge=@validated_users.count
  %li
    =link_to '#search', :'data-toggle' => 'tab' do
      Search queries
      %span.badge=@search_queries.count

.tab-content
  #unvalidated.tab-pane.fade.in.active
    %table.table.table-striped.table-users
      %tbody
        -@unvalidated_users.each do |user|
          %tr
            %td=user.full_name
            %td
              %p
                %strong Address
                =user.address
              .collapse{:id => "user-info-#{user.id}"}
                =render("validation_details", :user => user)
            %td
              .pull-right
                =link_to "Info", "#", :'data-toggle'=>"collapse", :'data-target'=>"#user-info-#{user.id}", :class => 'btn btn-small'
                =link_to "Validate",validate_user_path(user), :method => :put, :class => 'btn btn-primary btn-small'
        
  #validated.tab-pane.fade.in
    %table.table.table-striped.table-users
      %tbody
        -@validated_users.each do |user|
          %tr
            %td=user.full_name
            %td
              %p
                %strong Address
                =user.address
              .collapse{:id => "user-info-#{user.id}"}
                =render("validation_details", :user => user)
            %td
              .pull-right
                =link_to "Info", "#", :'data-toggle'=>"collapse", :'data-target'=>"#user-info-#{user.id}", :class => 'btn btn-small'
  #search.tab-pane.fade.in
    %table.table.table-striped
      %thead
        %tr
          %th Search query
          %th Results found
          %th User
          %th Time
      %tbody
        -@search_queries.each do |search_query|
          %tr
            %td=search_query.query
            %td=search_query.results_count
            %td=search_query.user.try(:full_name)
            %td
              =time_ago_in_words(search_query.created_at)
              ago
    