.row
  .span5
    %h1
      -if action_name.search?
        =title "Found #{pluralize(@results_count, 'user')}"
      -else
        =title "Users"
  .span7
    =form_tag(search_users_path, :method => :get, :class => 'pull-right form form-inline form-user-search form-search') do
      =text_field_tag :q, params[:q], :placeholder => "Search users", :class => 'input-medium'
      =submit_tag "Go", :class => 'btn'
    -unless action_name.search?
      =link_to(users_path(:format => 'xls'), :class => 'btn btn-primary pull-right mr-1 btn-download-spreadsheet') do
        %i.icon-download-alt
        Download spreadsheet
.row
  .span12
    %ul.nav.nav-tabs.nav-tabs-users
      =users_tab_li("Unvalidated", @unvalidated_users)
      =users_tab_li("Validated", @validated_users)
      =users_tab_li("Group users", @group_users)
      =users_tab_li("Pre-registered", @pre_registered_users)
      =users_tab_li("Champion requests", @community_champion_requests)
      =users_tab_li("Champions", @community_champions)
      =users_tab_li("Not in Sheffield", @not_in_sheffield)
      =users_tab_li("Deleted", @deleted_users)

    .tab-content
      #unvalidated.tab-pane.fade.in.active
        =render('table', :users => @unvalidated_users, :tab => "unvalidated")
      #validated.tab-pane.fade.in
        =render('table', :users => @validated_users, :tab => "validated")
      #group-users.tab-pane.fade.in
        =render('table', :users => @group_users, :tab => "group_users")
      #pre-registered.tab-pane.fade.in
        =render('table', :users => @pre_registered_users, :tab => "pre-registered")
      #champion-requests.tab-pane.fade.in
        =render('table', :users => @community_champion_requests, :tab => "champion_requests")
      #champions.tab-pane.fade.in
        =render('table', :users => @community_champions, :tab => "champions")
      #not-in-sheffield.tab-pane.fade.in
        =render('table', :users => @not_in_sheffield, :tab => "not_in_sheffield")
      #deleted.tab-pane.fade.in
        =render('table', :users => @deleted_users, :tab => "deleted")
    #choose-community-champion.modal.hide.fade
