.row
  .span3
    .row
      .span3
        -if @user.image
          =image_for(@user, "220x")
        -else
          =image_for(@user, "220x")
          .italic
            %span Upload your own picture.
            .action-link
              =link_to("Edit", edit_user_path(@user, :anchor => "who_you_are")) if can?(:edit, @user)
  .span9
    %h1.mb-1=title(@user)
    %h3.mb-1
      -if @user.is_community_champion?
        You are a community champion
      -elsif @user.community_champion
        ="Your community champion is #{link_to(@user.community_champion.full_name, champion_path)}".html_safe
      -else
        -if @user.champion_request_at
          Your request to become a community champion is being considered
        -else
          ="There isn't a community champion for your area - #{link_to 'ask to become one', request_to_be_champion_user_path, :method => :put}".html_safe
    -if @user.bio
      =simple_format(@user.bio)
      .action-link
        =link_to("Edit", edit_user_path(@user, :anchor => "who_you_are")) if can?(:edit, @user)
    -else
      %h4 Bio
      .italic
        %span Nothing entered yet.
        .action-link
          =link_to("Edit", edit_user_path(@user, :anchor => "who_you_are")) if can?(:edit, @user)
    -if current_user == @user
      %p
        %h4 Date of birth
        =@user.dob.nil? ? 'Not set yet.' : @user.dob.to_s(:date)
        .action-link
          =link_to("Edit", edit_user_path(@user, :anchor => "who_you_are")) if can?(:edit, @user)
      %p
        %h4 Email
        =@user.email
      %p
        %h4 Address
        =@user.address
        .action-link
          =link_to("Edit", edit_user_path(@user, :anchor => "where_you_live")) if can?(:edit, @user)
      %p
        %h4 Phone number
        -unless @user.phone.blank?
          =@user.phone
          .action-link
            =link_to("Edit", edit_user_path(@user, :anchor => "where_you_live")) if can?(:edit, @user)
        -else
          .italic
            %span Nothing entered yet.
            .action-link
              =link_to("Edit", edit_user_path(@user, :anchor => "where_you_live")) if can?(:edit, @user)

.row.mt-2
  .span8
    =options_panel do
      =link_if_can("Edit profile", [:edit, @user])
      =link_if_can("Delete user", [:toggle_is_deleted, @user],:method => :put, :confirm => "Are you sure?")