-content_for(:head) do
  :javascript
    $(document).ready(function() {
      $("#why-age-modal-button").click(function() {
        var undisclosed_age = $('#undisclosed_age_check_box').is(':checked');
        $('#user_undisclosed_age').val(undisclosed_age);
        if( undisclosed_age) {
          $('#age-select-controls').addClass('hide');
          $('#undisclosed-age-text').removeClass('hide');
        } else {
          $('#age-select-controls').removeClass('hide');
          $('#undisclosed-age-text').addClass('hide');
        }
      });
    });

.row
  .span10.offset1.well.center
    %h3
      Congratulations
      =@user.neighbourhood.name
      is now live!
    %p
      =neighbourhood_snippet_text(:congrats_live, "Please enter your details below so that you can start helping neighbours.")
.row
  .span10.offset1
    %ul.nav.nav-tabs.nav-tabs-register
      =li_with_active(@user.current_step == "who_you_are") do
        %span.tab-number
          1
        Tell us
        %br
        who you are
      =li_with_active(@user.current_step == "where_you_live") do
        %span.tab-number
          2
        Tell us
        %br
        where you live
      =li_with_active(@user.current_step == "validate") do
        %span.tab-number
          3
        Validate your
        %br
        address

    =semantic_form_for(@user, :url => registrations_path, :method => :post, :html => {:class => "loading-text-disabled"})  do |form|
      .tab-content.register-tab-content
        .register-tab-pane
          =hidden_field_tag :return_to, params[:return_to]
          =form.hidden_field :current_step
          =form.hidden_field :neighbourhood_id
          %div{:class => @user.current_step == 'who_you_are' ? '' : 'hide'}
            =render("registrations/steps/who_you_are", :form => form)
          %div{:class => @user.current_step == 'where_you_live' ? '' : 'hide'}
            =render("registrations/steps/where_you_live", :form => form)
          %div{:class => @user.current_step == 'validate' ? '' : 'hide'}
            =render("registrations/steps/validate", :form => form)
        .form-actions
          =form.submit("Next", :class => "btn btn-primary register-btn-next")
          -unless @user.first_step?
            =form.submit('Back', :name => 'back', :class => "btn btn-primary register-btn-back")

=render "modals/why_age"