.span10.offset1
  %ul.nav.nav-tabs.nav-tabs-register
    =li_with_active(@user.current_step == "who_you_are") do
      =link_to "#" do
        %span.tab-number
          1
        Tell us
        %br
        who you are
    =li_with_active(@user.current_step == "where_you_live") do
      =link_to "#" do
        %span.tab-number
          2
        Tell us
        %br
        where you live
    =li_with_active(@user.current_step == "validate") do
      =link_to "#" do
        %span.tab-number
          3
        Validate your
        %br
        membership

  =semantic_form_for(@user, :url => registrations_path(:step => @user.next_step || @user.steps.last), :method => :post)  do |form|
    .tab-content.register-tab-content
      .register-tab-pane
        =hidden_field_tag :user_id, @user.id
        =render("registrations/steps/#{@user.current_step}", :form => form)
      .form-actions
        =form.submit("Next", :class => "btn btn-primary register-btn-next")