.row#needs-cycle
  .span6
    -if current_user.try(:fully_registered?)
      =link_to "I'd like some help", new_need_path, :class=>"btn call-to-action primary"
    -elsif current_user
      =link_to "I'd like some help", '#', :class=>"btn call-to-action primary not-fully-registered-link", :data => {:return_to => new_need_path}
    -else
      =link_to "I'd like some help", '#pre-register', :class=>"btn call-to-action primary", :"data-toggle"=>"modal"
      
    -if @general_offers.empty?
      %h2
        Neighbours who've been helped
      .help-list-wrapper
        %ul.help-list.unstyled#resolved
          -@helped.each do |need|
            %li.list
              .list-image
                =link_to_with_tooltip(need, :class => "pull-left") do
                  =image_for_with_validation(need.user, "60x50#")
                  %p.small-text
                    =need.user
              .list-text
                %h3
                  =link_to need.title, need
                %p
                  -if current_user.try(:validated?)
                    =need.description
                  -else
                    =need.category.description
    -else
      %h2
        Neighbours offering help
      .help-list-wrapper          
        %ul.help-list.unstyled#resolved
          -@general_offers.each do |general_offer|
            %li.list
              .list-image
                =link_to_with_tooltip(general_offer, :class => "pull-left") do
                  =image_for_with_validation(general_offer.user, "60x50#")
                  %p.small-text
                    =general_offer.user
              .list-text
                %h3
                  =link_to_self(general_offer)
                %p
                  -if current_user.try(:validated?)
                    =general_offer.description
                  -else
                    =general_offer.category.description

  .span6
    -if current_user.try(:fully_registered?)
      =link_to "I'd like to offer some help", new_general_offer_path, :class=>"btn call-to-action"
    -elsif current_user
      =link_to "I'd like to offer some help", '#', :class=>"btn call-to-action not-fully-registered-link", :data => {:return_to => new_general_offer_path}
    -else
      =link_to "I'd like to offer some help", '#pre-register', :class=>"btn call-to-action", :"data-toggle"=>"modal"
        
    %h2 Neighbours who need help
    .help-list-wrapper
      -if @needs.empty?
        %p There's no one requesting help at the moment.
      -else
        %ul.help-list.unstyled#unresolved
          -@needs.each do |need|
            %li.list
              .list-image
                =link_to_with_tooltip(need, :class => "pull-left") do
                  =image_for_with_validation(need.user, "60x50#")
                  %p.small-text
                    =need.user
              .list-text
                %h3
                  =link_to need.title, need
                %p
                  -if current_user.try(:validated?)
                    =need.description
                  -else
                    =need.category.description