.row                              
  .span6
    =link_to "Add a request for help", new_need_path, :class=>"btn call-to-action primary"
    %h2 Site activity
    %ul.help-list.unstyled
      -@needs.each do |need|
        %li.list
          .list-image
            =link_to "#" do
              =image_for(need.user, "60x50#")
              %p.small-text
                =need.user
          .list-text
            %h3
              =link_to_self need
            %p
              =need.description
    =#link_to "Make an offer to help", "/wireframes/i_can_help", :class=>"btn call-to-action"
  .span6
    #home-map
      -if false
        .you-are-in
          %p
            You are in 
            %select
              %option Maltby
              %option Other areas coming soon!    
