-content_for :head do
  :javascript
    $(document).ready(function() {
      NeedSelect.init();
    });
.container
#home-intro-2
  .container
    .row
      .span12.home-intro-inner
        .home-intro-text
          %h2.home-welcome.home-intro-text
            -if current_user
              ="Hi #{current_user}, welcome to Neighbours Can Help"
            -else
              Welcome to Neighbours Can Help
          %h3.home-where.home-intro-text ..where neighbours are helping each other
        =link_to_slug('Find out more', :about, :class=>"illustration-link")  
        =link_to_slug('Find out more', :about, :class=>"home-cta home-cta-about")
        =link_to "Get involved", "#pre-register", :class=>"home-cta home-cta-get-involved", :"data-toggle"=>"modal"


.container
  .row
    .span8.offset2
      %h3.center I can't find 'Neighbours who've been helped' and 'Neighbours who need help'- have you put it anywhere Andy?
