%h1="Welcome #{current_user.first_name}!"
=render('layouts/control_panel')
.row                              
  .span6
    %h2 Site activity
    %ul.help-list.unstyled
      %li.list
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Alan
        .list-text
          %h3
            =link_to "Taking cat to the vet", "/wireframes/blog"
          %p
            Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.   
      %li.list
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Alan
        .list-text
          %h3
            =link_to "Taking cat to the vet", "/wireframes/blog"
          %p
            Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.   
      %li.list
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Alan
        .list-text
          %h3
            =link_to "Taking cat to the vet", "/wireframes/blog"
          %p
            Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.   
      %li.list
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Alan
        .list-text
          %h3
            =link_to "Taking cat to the vet", "/wireframes/blog"
          %p
            Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.                                       

            
    =#link_to "Make an offer to help", "/wireframes/i_can_help", :class=>"btn call-to-action"
  .span6
    #home-map
      -if false
        .you-are-in
          %p
            You are in 
            %select
              %option Maltby
              %option Other areas coming soon!    
