-content_for(:head) do
  :javascript
    $(document).ready(function() {
      NeedCategorySelector.categories = #{NeedCategory.root.to_json(:methods => :sub_categories)};
      GeneralOfferForm.init(#{logged_out? ? 0 : 1});
    });
%h3 Or offer help to others:
.well.mt-2    
  =semantic_form_for @general_offer, :validate => true do |f|
    =hidden_field_tag :return_to
    =f.inputs do
      =f.hidden_field :category_id, :value => @general_offer.category.try(:id), :id => 'category-id'
      =f.hidden_field :sub_category_id, :value => @general_offer.sub_category.try(:id), :id => 'sub-category-id'
      -if @general_offer.errors[:category].present?
        .control-group.error
          %label.control-label Please select a category from above
      =f.input :description, :label => "Describe how you can help", :input_html => { :class => "span5", :rows => "4" }, :required => false, :validate => {:presence => true}
      =f.input :radius, :as => :select, :collection => need_radius_options, :include_blank => false, :label => "Broadcast radius", :help => "People who live within this distance from you will hear about your offer", :input_html => {:class => "span5"}
      =f.commit_button "Tell my neighbours", :button_html => { :class => "btn" }

