%li.list
  .list-image
    =link_to(general_offer, :class => "pull-left") do
      =image_for_with_validation(general_offer.user, "60x50#")
      %p.small-text=general_offer.user
  .list-text
    %h3
      =link_to general_offer.title, general_offer
    %p
      -if current_user.try(:validated?)
        =general_offer.description
      -else
        =general_offer.category.description
    =link_to("Accept help from #{general_offer.user}", general_offer, :class=>"btn btn-primary small-help-btn")