.row
  .span12
    %h1 I'd like to offer some help
.row
  .span12.tag-selectors  
    .tag-selector.tag-selector-row-1.clearfix
      %h3.mb1
        Select a category below...
      %ul.help-tags.unstyled
        -NeedCategory.root.each do |category|
          %li=link_to(category, '#', :class => "need-category help-tag btn#{@general_offer.category_id == category.id ? ' btn-primary' : ''}", :data => {:category_id => category.id})
        
    #need-sub-categories.tag-selector.tag-selector-row-2.clearfix.hide
      %span.tag-selector-arrow
      %h3.mb1 More specifically...
      %ul.help-tags.unstyled
        -(@general_offer.category.try(:sub_categories) || []).each do |category|
          %li=link_to(category, '#', :class => "need-sub-category help-tag btn#{@general_offer.sub_category_id == category.id ? ' btn-primary' : ''}", :data => {:sub_category_id => category.id})
                    
.row
  %hr
  .span6
    %h2 Offer these people help
    #suggested-needs.loader-square
      =render('needs/list', :needs => @suggested_needs)
  .span6
    =render('form')