=form.inputs(:class => "form-horizontal user-notifications") do
  =form.input :no_notifications, :as => :radio, :label => 'Send me emails when people reply to my wants and offers of help', :collection => [['On', false], ['Off', true]]
  =form.input :no_private_messaging, :as => :radio, :label => 'Private messaging', :collection => [['On', false], ['Off', true]]
  =form.input :email_for_new_message, :as => :radio, :label => 'Send me an email when I receive a new private message', :collection => [['On', false], ['Off', true]]