=form.hidden_field :current_step, :value => "where_you_live"
=form.inputs(:class => "form-horizontal") do
  =form.input :current_step, :as => :hidden, :value => "where_you_live"
  -if current_user.admin?
    %label.control-label#address-label Address
    =form.input :house_number, :label => "Number", :required => false, :input_html => {:placeholder => "34", :class => "span1"}
    =form.input :street_name, :label => "Street Name", :required => false, :input_html => {:placeholder => "Street name", :class => "span4"}
    =form.input :city, :label => false, :required => false, :input_html => {:placeholder => "Town/city"}
    =form.input :postcode, :label => false, :required => false, :input_html => {:placeholder => "Postcode", :class => "span2"}
  =form.input :phone, :label => "Phone number <br /><em class='optional'>(optional)</em>".html_safe, :required => false, :input_html => {:placeholder => "e.g. 0114 123123"}
  -unless current_user.admin?
    .control-group
      .controls
        %p
          =link_to("Contact us", feedback_path, :target => '_blank')
          if you need to change your address.