%h1
  %i.icon-warning-sign
  =title("Inappropriate content")

-if @flags.empty?
  %p No content has been flagged as inappropriate.
-else
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.span4 Content
        %th.span4 Report message
        %th.span2 Reported by
        %th Time
        %th
    %tbody
      -@flags.each do |flag|
        %tr
          %td.span4
            .list-image
              =link_to flag.resource_url do
                =image_for_with_validation(flag.resource.user, "60x50#")
              %p.small-text=flag.resource.user
            =link_to(flag.resource_name, flag.resource_url)
            %p=truncate(strip_tags(flag.resource_description), :length => 100)
          %td.span4=flag.text
          %td.span2=link_to(flag.user.full_name, flag.user)
          %td=flag.created_at.to_s(:date_and_time)
          %td=link_to("x", resolve_flag_path(flag), :method => :put)
          
  =will_paginate(@flags)