-body_tag(:'data-spy'=>"scroll", :'data-target' => ".header-intro", :'data-offset'=> 110) do
  .main-wrapper
    =render("layouts/logged_out/header")
    =yield_with_bootstrap(render_flash, :container_class => "container flash_container") if flash.present?
    =yield_with_bootstrap(yield)
    .push
  .footer-wrapper
    =render("layouts/footer")