#top
#header-intro-placeholder
#header-intro.header-intro        
  .container.header-intro-inner
    .row
      .span12   
        %h1.logo-intro
          -if @neighbourhood   
            =link_to "Neighbours Can Help", neighbourhood_path(@neighbourhood), :class=>"logo-intro-link"
          -else
            =link_to "Neighbours Can Help", "/", :class=>"logo-intro-link"
          
        =link_to "Get involved", "#sign-up-popup", :class=>"cta-intro", :"data-toggle"=>"modal"
        
        %ul.nav.nav-intro.unstyled                
          -if @neighbourhood   
            %li=link_to "Home", neighbourhood_path(@neighbourhood), :class=>"intro-nav-link-home intro-nav-link"     
            %li=link_to('About', neighbourhood_about_path(@neighbourhood), :class=>"intro-nav-link-about intro-nav-link")          
            %li=link_to_slug('Latest news', :news, :class=>"intro-nav-link-latest intro-nav-link")
            %li=link_to("Help", neighbourhood_help_path(@neighbourhood), :class=> "intro-nav-link-help intro-nav-link")
          -else
            %li=link_to "Home", root_path, :class=>"intro-nav-link-home intro-nav-link"               
            %li=link_to_slug('About', :about, :class=>"intro-nav-link-about intro-nav-link")          
            %li=link_to_slug('Latest news', :news, :class=>"intro-nav-link-latest intro-nav-link")
            %li=link_to_slug("Help", :help, :class=> "intro-nav-link-help intro-nav-link")          
          
          %li=link_to "Login", "/login", :class=>"intro-nav-link-login intro-nav-link"
    =link_to_slug(:safety_tips, :class=>"help-link") do
      %icon.icon-question-sign
      Stay safe
          