#top
#header-intro.header-intro        
  .container
    .row
      .span12
        %h1.logo-intro
          =link_to "Neighbours Can Help", "/", :class=>"logo-intro-link"
        =link_to "Get involved", "#sign-up-popup", :class=>"cta-intro", :"data-toggle"=>"modal"
        %ul.nav.nav-intro.unstyled                
          %li=link_to "About", "#comic-1", :class=>"intro-nav-link-about intro-nav-link"
          %li=link_to "How it works", "#how-it-works", :class=>"intro-nav-link-how intro-nav-link"
          %li=link_to "Security", "#security", :class=>"intro-nav-link-security intro-nav-link"