.container
.all-groups-strip
  .container
    .row
      .span12.groups-header
        =link_to "/wireframes/groups_all" do
          =image_tag('groups-logo.png', :class=>'groups-logo-header')
          %h4.groups-title
            Groups
            %small
              View all groups