=render('/wireframes/all_groups_strip')

.container
  .row.mb-2.mt-3
    .span7
      %h1.page-title.mb-3.mt-0
        Derbyshire walking group    
      %p
        Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui.
    .span5
      =image_tag "group-image.jpg"