#group-new-modal.modal.hide.fade
  .modal-header
    %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"}
      ×
    %h3
      Create a group
  .modal-body
    .new-message-form
      %form.form-horizontal
        %label.radio
          %input#optionsRadios1{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}/
          Public
        %label.radio
          %input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "option2"}/
          Private
          %span.smallprint
            Only invited members get access
  .modal-footer.mt-2
    %a.btn{:href => "#"} Close
    %a.btn.btn-primary{:href => "/wireframes/group_step_2"} Next
              
              
