=render('/wireframes/group_header')
.container
  .row
    .span12
      %ul.nav.nav-tabs.group-nav-tabs
        %li
          =link_to "/wireframes/group_show" do
            %i.icon-comment
            Posts
        %li
          =link_to "/wireframes/group_show_members" do
            %i.icon-group
            Members (23)
        %li.active
          =link_to "/wireframes/group_show_photos" do
            %i.icon-camera
            Photos (5)
          
        %li
          =link_to "/wireframes/group_show_messages" do
            %i.icon-envelope
            Private messages

    .span12
      %h2.mb-2 Photos
      
    .span3.mb-2
      =link_to "#", :class=>"thumbnail" do
        =image_tag "group-image.jpg"
    .span3.mb-2
      =link_to "#", :class=>"thumbnail" do
        =image_tag "group-image.jpg"        
    .span3.mb-2
      =link_to "#", :class=>"thumbnail" do
        =image_tag "group-image.jpg"
    .span3.mb-2
      =link_to "#", :class=>"thumbnail" do
        =image_tag "group-image.jpg"
    .span3.mb-2
      =link_to "#", :class=>"thumbnail" do
        =image_tag "group-image.jpg"
    .span3.mb-2
      =link_to "#", :class=>"thumbnail" do
        =image_tag "group-image-new.jpg"                