=render('/wireframes/group_header')
.container
  .row
    .span12
      %ul.nav.nav-tabs.group-nav-tabs
        %li
          =link_to "/wireframes/group_show" do
            %i.icon-comment
            Posts
        %li.active
          =link_to "/wireframes/group_show_members" do
            %i.icon-group
            Members (23)
        %li
          =link_to "/wireframes/group_show_photos" do
            %i.icon-camera
            Photos (5)
          
        %li
          =link_to "/wireframes/group_show_messages" do
            %i.icon-envelope
            Private messages

    .span12
      %h2.mb-2
        Group Members
      
      %ul.group-members-list.help-list.unstyled
        %li.list
          .list-image
            %a.pull-left{"data-original-title" => "", :href => "/needs/83", :rel => "tooltip"}
              %img{:alt => "User", :src => "/media/W1siZmYiLCIvVXNlcnMvcmljaHdlbGxzL1JhaWxzL25laWdoYm91cnMvcHVibGljL2RyYWdvbmZseS9kZWZhdWx0cy91c2VyLnBuZyJdLFsicCIsInRodW1iIiwiNjB4NTAjIl1d/user.png"}/
            %p.small-text
              Rich
          .list-text
            %h3
              %a{:href => "/needs/83"} Rich Wells
            %p
              Sheffield
              
        %li.list
          .list-image
            %a.pull-left{"data-original-title" => "", :href => "/needs/83", :rel => "tooltip"}
              %img{:alt => "User", :src => "/media/W1siZmYiLCIvVXNlcnMvcmljaHdlbGxzL1JhaWxzL25laWdoYm91cnMvcHVibGljL2RyYWdvbmZseS9kZWZhdWx0cy91c2VyLnBuZyJdLFsicCIsInRodW1iIiwiNjB4NTAjIl1d/user.png"}/
            %p.small-text
              Rich
          .list-text
            %h3
              %a{:href => "/needs/83"} Rich Wells
            %p
              Sheffield
        %li.list
          .list-image
            %a.pull-left{"data-original-title" => "", :href => "/needs/83", :rel => "tooltip"}
              %img{:alt => "User", :src => "/media/W1siZmYiLCIvVXNlcnMvcmljaHdlbGxzL1JhaWxzL25laWdoYm91cnMvcHVibGljL2RyYWdvbmZseS9kZWZhdWx0cy91c2VyLnBuZyJdLFsicCIsInRodW1iIiwiNjB4NTAjIl1d/user.png"}/
            %p.small-text
              Rich
          .list-text
            %h3
              %a{:href => "/needs/83"} Rich Wells
            %p
              Sheffield    
        %li.list
          .list-image
            %a.pull-left{"data-original-title" => "", :href => "/needs/83", :rel => "tooltip"}
              %img{:alt => "User", :src => "/media/W1siZmYiLCIvVXNlcnMvcmljaHdlbGxzL1JhaWxzL25laWdoYm91cnMvcHVibGljL2RyYWdvbmZseS9kZWZhdWx0cy91c2VyLnBuZyJdLFsicCIsInRodW1iIiwiNjB4NTAjIl1d/user.png"}/
            %p.small-text
              Rich
          .list-text
            %h3
              %a{:href => "/needs/83"} Rich Wells
            %p
              Sheffield
              
        %li.list
          .list-image
            %a.pull-left{"data-original-title" => "", :href => "/needs/83", :rel => "tooltip"}
              %img{:alt => "User", :src => "/media/W1siZmYiLCIvVXNlcnMvcmljaHdlbGxzL1JhaWxzL25laWdoYm91cnMvcHVibGljL2RyYWdvbmZseS9kZWZhdWx0cy91c2VyLnBuZyJdLFsicCIsInRodW1iIiwiNjB4NTAjIl1d/user.png"}/
            %p.small-text
              Rich
          .list-text
            %h3
              %a{:href => "/needs/83"} Rich Wells
            %p
              Sheffield
        %li.list
          .list-image
            %a.pull-left{"data-original-title" => "", :href => "/needs/83", :rel => "tooltip"}
              %img{:alt => "User", :src => "/media/W1siZmYiLCIvVXNlcnMvcmljaHdlbGxzL1JhaWxzL25laWdoYm91cnMvcHVibGljL2RyYWdvbmZseS9kZWZhdWx0cy91c2VyLnBuZyJdLFsicCIsInRodW1iIiwiNjB4NTAjIl1d/user.png"}/
            %p.small-text
              Rich
          .list-text
            %h3
              %a{:href => "/needs/83"} Rich Wells
            %p
              Sheffield  
        %li.list
          .list-image
            %a.pull-left{"data-original-title" => "", :href => "/needs/83", :rel => "tooltip"}
              %img{:alt => "User", :src => "/media/W1siZmYiLCIvVXNlcnMvcmljaHdlbGxzL1JhaWxzL25laWdoYm91cnMvcHVibGljL2RyYWdvbmZseS9kZWZhdWx0cy91c2VyLnBuZyJdLFsicCIsInRodW1iIiwiNjB4NTAjIl1d/user.png"}/
            %p.small-text
              Rich
          .list-text
            %h3
              %a{:href => "/needs/83"} Rich Wells
            %p
              Sheffield
              
        %li.list
          .list-image
            %a.pull-left{"data-original-title" => "", :href => "/needs/83", :rel => "tooltip"}
              %img{:alt => "User", :src => "/media/W1siZmYiLCIvVXNlcnMvcmljaHdlbGxzL1JhaWxzL25laWdoYm91cnMvcHVibGljL2RyYWdvbmZseS9kZWZhdWx0cy91c2VyLnBuZyJdLFsicCIsInRodW1iIiwiNjB4NTAjIl1d/user.png"}/
            %p.small-text
              Rich
          .list-text
            %h3
              %a{:href => "/needs/83"} Rich Wells
            %p
              Sheffield
        %li.list
          =link_to "+ Invite members", "#", :class=>"invite-group-members-link btn"


