.help-box.span8.offset2
  .help-well.well
    %h2.help-title I can help with
    %input.can-help-input{:type=>"text", :title => "Search...", :placeholder=>"e.g. Gardening"}

  %ul.help-list.unstyled
    %li.list.list-result
      .list-image
        =link_to "#" do
          =image_tag "person.png"
          %p.small-text
            Alan
      .list-text
        %h3
          =link_to "Taking cat to the vet", "#"
        %p
          Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.
      =link_to "I can help", "#register-popup", :"data-toggle"=>"modal", :class=>"btn i-can-help-btn"
    %li.list.list-result
      .list-image
        =link_to "#" do
          =image_tag "person.png"
          %p.small-text
            Alan
      .list-text
        %h3
          =link_to "Taking cat to the vet", "#"
        %p
          Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.
      =link_to "I can help", "#register-popup", :"data-toggle"=>"modal", :class=>"btn i-can-help-btn"
    %li.list.list-result
      .list-image
        =link_to "#" do
          =image_tag "person.png"
          %p.small-text
            Alan
      .list-text
        %h3
          =link_to "Taking cat to the vet", "#"
        %p
          Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.
      =link_to "I can help", "#register-popup", :"data-toggle"=>"modal", :class=>"btn i-can-help-btn"
    %li.list.list-result
      .list-image
        =link_to "#" do
          =image_tag "person.png"
          %p.small-text
            Alan
      .list-text
        %h3
          =link_to "Taking cat to the vet", "#"
        %p
          Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.
      =link_to "I can help", "#register-popup", :"data-toggle"=>"modal", :class=>"btn i-can-help-btn"
      
