.help-box.span8.offset2
  %h2 Add a request for help
  .well
    %form.form-horizontal
      .control-group            
        %label.control-label I need help with
        .controls
          %input{:type=>"text", :title => "Name", :placeholder=>"e.g. Gardening"}
      .control-group            
        %label.control-label Add a description
        .controls
          %textarea.span5{:type=>"text", :title => "Name", :placeholder=>""}          
      .control-group
        %label.control-label On
        .controls
          %select.input-small.mr1
            %option Day
            %option 1
            %option 2
            %option{:selected=>"selected"}3
            %option 4
          %select.input-medium
            %option January
            %option February
            %option March
            %option April
            %option May
            %option{:selected=>"selected"} June 2012
            %option July
            %option August
            %option September
            %option October
            %option November
            %option December
    
          =link_to "Next", "/wireframes/register_help_1", :class=>"btn btn-primary need-help-btn"
  
  
  
  -if false
    %h3.other-people-help-title Other people need help with...
    %ul.help-list.unstyled
      %li.list.list-result
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Alan
        .list-text
          %h3
            =link_to "Taking cat to the vet", "#"
          %p
            Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.
        =link_to "I can help", "#register-popup", :"data-toggle"=>"modal", :class=>"btn i-can-help-btn"
      %li.list.list-result
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Alan
        .list-text
          %h3
            =link_to "Taking cat to the vet", "#"
          %p
            Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.
        =link_to "I can help", "#register-popup", :"data-toggle"=>"modal", :class=>"btn i-can-help-btn"
      %li.list.list-result
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Alan
        .list-text
          %h3
            =link_to "Taking cat to the vet", "#"
          %p
            Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.
        =link_to "I can help", "#register-popup", :"data-toggle"=>"modal", :class=>"btn i-can-help-btn"
      %li.list.list-result
        .list-image
          =link_to "#" do
            =image_tag "person.png"
            %p.small-text
              Alan
        .list-text
          %h3
            =link_to "Taking cat to the vet", "#"
          %p
            Lorem ipsum falli molestiae cu mei, choro facete consequat ex mei. Eum idque dicant offendit in.
        =link_to "I can help", "#register-popup", :"data-toggle"=>"modal", :class=>"btn i-can-help-btn"
      
