!!!5
%html
  %head
    %title
      =Settings.site_name
      ="- #{@page_title}" if @page_title.present?
    =stylesheet_link_tag("application")
    =javascript_include_tag("application")
    =csrf_meta_tags
    =yield :head
    :javascript
      $(document).ready(function() {
        IntroPageNav.init();
      });

    =google_analytics_js
  -body_tag(:'data-spy'=>"scroll", :'data-target' => ".header-intro", :'data-offset'=> 110) do  
    .main-wrapper
      #top
      #header-intro.header-intro        
        .container
          .row
            .span12
              %h1.logo-intro
                =link_to "Neighbours Can Help", "/", :class=>"logo-intro-link"
              =link_to "Get involved", "#sign-up-popup", :class=>"cta-intro", :"data-toggle"=>"modal"
              %ul.nav.nav-intro.unstyled                
                %li=link_to "About", "#comic-1", :class=>"intro-nav-link-about intro-nav-link"
                %li=link_to "How it works", "#how-it-works", :class=>"intro-nav-link-how intro-nav-link"
                %li=link_to "Security", "#security", :class=>"intro-nav-link-security intro-nav-link"

                              

      #header-intro-placeholder
              
      .intro-text
        .container
          .row
            .span8.offset2
              %h2.center Help people out around you. It feels good.
              %p.center Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at 
      #comic-1.comic-strip
        .container
          .row
            .span12.comic-strip-inner
              .comic-text
                %p
                  In today’s society, many people can live in a  community for months, or even years, before getting to know their neighbours.
      #comic-2.comic-strip
        .container
          .row
            .span12.comic-strip-inner
              .comic-text
                %p
                  People often don’t know their neighbours because they don’t know their needs. And that’s because it’s not easy asking for help from a stranger.          
      #comic-3.comic-strip
        .container
          .row
            .span12.comic-strip-inner      
              .comic-text
                %p
                  This website aims to help neighbours connect to each other, local service providers & community organisations - so that they can offer and request help whenever it’s needed. 
      #comic-4.comic-strip
        .container
          .row
            .span12.comic-strip-inner      
              .comic-text
                %p
                  Neighbours Can Help believes that by breaking down barriers created by garden fences, we can open up a whole new avenue for neighbourhood altruism to emerge.    
      #comic-5.comic-strip
        .container
          .row
            .span12.comic-strip-inner      
              .comic-text
                %p
                  The organisation hopes the new website will enable people to make new friends, share experiences and offer support to each other all year round.      
      #comic-6.comic-strip
        .container
          .row
            .span12.comic-strip-inner      
              .comic-text
                %p
                  Neighbours Can Help believes that together we can strengthen our communities, enabling people to come together to deliver a locally based response to the many needs hidden in every UK street.
      #how-it-works.intro-strip
        .container
          .row
            .span12
              %h2 How it works
            .span4  
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum.
            .span4
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero.              
            .span12.pencil-line    

                
      #security.intro-strip
        .container
          .row
            .span8.offset4
              %h2 Security
            .span4.offset4
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero.
            .span4
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.  
      #big-cta
        .container
          .row
            .span6.offset3
              .well
                %h2 Be part of it
                =link_to "Get involved", "#sign-up-popup", :class=>"cta-intro", :"data-toggle"=>"modal"
                .clearfix
              =link_to "Top", "#top", :class=>"to-top-link"

                                
              
      .push
    .footer-wrapper
      =render("layouts/footer")
    =render ('/wireframes/sign_up_popup')       