!!!5
%html
  %head
    %title
      =Settings.site_name
      ="- #{@page_title}" if @page_title.present?
    =stylesheet_link_tag("application")
    =javascript_include_tag("application")
    =csrf_meta_tags
    =yield :head
    :javascript
      $(document).ready(function() {
        IntroPageNav.init();
      });

    =google_analytics_js
  -body_tag(:'data-spy'=>"scroll", :'data-target' => ".header-intro", :'data-offset'=> 110) do  
    .main-wrapper
      #top
      #header-intro.header-intro        
        .container
          .row
            .span12
              %h1.logo-intro
                =link_to "Neighbours Can Help", "/", :class=>"logo-intro-link"
              =link_to "Get involved", "#sign-up-popup", :class=>"cta-intro", :"data-toggle"=>"modal"
              %ul.nav.nav-intro.unstyled                
                %li=link_to "About", "#comic-1", :class=>"intro-nav-link-about intro-nav-link"
                %li=link_to "How it works", "#how-it-works", :class=>"intro-nav-link-how intro-nav-link"
                %li=link_to "Security", "#security", :class=>"intro-nav-link-security intro-nav-link"

                              

      #header-intro-placeholder
              
      .intro-text
        .container
          .row
            .span8.offset2
              %h2.center Help people out around you. It feels good.              
              %p.center We'd like to join with you in making your neighbourhood a better place by helping people to help their neighbours:
              %ul
                %li
                  a) because we believe most people want to be helpful and
                %li
                  b) because we hope everyone and every neighbourhood 
                  will be better off by doing so
              %p.center
                So what is Neighbours Can Help...what's it all about........?
      #comic-1.comic-strip
        .container
          .row
            .span12.comic-strip-inner
              .comic-text
                %p
                  Sometimes it can be hard to get to know our neighbours.
      #comic-2.comic-strip
        .container
          .row
            .span12.comic-strip-inner
              .comic-text
                %p
                  Even though we could often help each other, it’s difficult to ask if we’re strangers.          
      #comic-3.comic-strip
        .container
          .row
            .span12.comic-strip-inner      
              .comic-text
                %p
                  NCH is a new website to help neighbours to connect to each other. It’s quick, easy and free to use.
      #comic-4.comic-strip
        .container
          .row
            .span12.comic-strip-inner      
              .comic-text
                %p
                  Its aim is to strengthen communities by making it easier for people to help each other.
      #comic-5.comic-strip
        .container
          .row
            .span12.comic-strip-inner      
              .comic-text
                %p
                  By finding new ways to support each other we hope to build better neighbourhoods together.      
      #comic-6.comic-strip
        .container
          .row
            .span12.comic-strip-inner      
              .comic-text
                %p
                  Check out the website to learn more. Make a difference to your community!
      #how-it-works.intro-strip
        .container
          .row
            .span12
              %h2 How it works
            .span4  
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum.
            .span4
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero.              
            .span12.pencil-line    

                
      #security.intro-strip
        .container
          .row
            .span8.offset4
              %h2 Security
            .span4.offset4
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero.
            .span4
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.  
      #big-cta
        .container
          .row
            .span6.offset3
              .well
                %h2 Be part of it
                =link_to "Get involved", "#sign-up-popup", :class=>"cta-intro", :"data-toggle"=>"modal"
                .clearfix
              =link_to "Top", "#top", :class=>"to-top-link"

                                
              
      .push
    .footer-wrapper
      =render("layouts/footer")
    =render ('/wireframes/sign_up_popup')