=render('wireframes/control_panel')
.row
  .span8.offset2
    %h1 My requests
    
    %ul.nav.nav-tabs.nav-stacked
      %li
        =link_to "/wireframes/request" do
          %h3 I would like some help with my computer
          %p
            %span.badge 2
            %span.request-message-text
              messages
      %li
        =link_to "/wireframes/request" do
          %h3 Friday big shop
          %p.request-messages
            %span.badge 2
            %span.request-message-text
              messages
        
      %li
        =link_to "/wireframes/request" do
          %h3 Decorating my kitchen
          %p.request-messages
            %span.badge 1
            %span.request-message-text
              messages
                 

    