.span10.offset1
  %ul.nav.nav-tabs.nav-tabs-register
    %li.active
      =link_to "/wireframes/register_help_1" do
        %span.tab-number
          1
        Tell us
        %br
        who you are
    %li
      =link_to "/wireframes/register_help_2" do
        %span.tab-number
          2    
        Tell us
        %br
        where you live  
    %li
      =link_to "/wireframes/register_help_3" do
        %span.tab-number
          3
        Validate 
        %br
        your account  
  
  .tab-content.register-tab-content
    .register-tab-pane
      %form.form-horizontal
        .control-group
          %label.control-label First name  
          .controls
            %input{:type=>"text", :title => "Name", :placeholder=>"e.g. John"}
        .control-group            
          %label.control-label Last name
          .controls
            %input{:type=>"text", :title => "Name", :placeholder=>"e.g. Smith"}
        .control-group
          %label.control-label Date of Birth
          .controls
            %select.input-medium
              %option Day
              %option 1
              %option 2
              %option 3
              %option 4
            %select.input-medium
              %option Month
              %option January
              %option February
              %option March
              %option April
              %option May
              %option June
              %option July
              %option August
              %option September
              %option October
              %option November
              %option December
            %select.input-medium
              %option Year
              %option 1975
              %option 1976
              %option 1977
              %option 1978
              %option 1979
              %option 1980            
        .control-group            
          %label.control-label Email address
          .controls
            %input{:type=>"text", :title => "Name", :placeholder=>"e.g. John@email.com"}
        .control-group            
          %label.control-label Password
          .controls
            %input{:type=>"text", :title => "Name", :placeholder=>"******"}            
            
    .form-actions
      =link_to "Next", "/wireframes/register_help_2", :class=>"btn btn-primary register-btn-next"

