.span10.offset1
  %ul.nav.nav-tabs.nav-tabs-register
    %li
      =link_to "/wireframes/register_help_1" do
        %span.tab-number
          1
        Tell us
        %br
        who you are
    %li
      =link_to "/wireframes/register_help_2" do
        %span.tab-number
          2    
        Tell us
        %br
        where you live  
    %li.active
      =link_to "/wireframes/register_help_3" do
        %span.tab-number
          3
        Validate 
        %br
        your account  
  
  .tab-content.register-tab-content
    .register-tab-pane
      .well
        %strong Safety and security
        %p
          Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh.
      .validate-your-account
        %h2.mb2.mt2
          Validate your account by...
        %ul.thumbnails
          %li.span4
            =link_to "#", :class=>"thumbnail" do
              =image_tag "http://placehold.it/300x160"  
              .caption
                %h3 Credit card
                %p
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.

          %li.or
            %h3 or
          %li.span4
            =link_to "#", :class=>"thumbnail" do
              =image_tag "http://placehold.it/300x160"  
              .caption
                %h3 By post
                %p
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                
    .form-actions
      =link_to "Finish", "/wireframes/logged_in_home", :class=>"btn btn-primary register-btn-next"
      =link_to "Back", "/wireframes/register_help_2", :class=>"btn register-btn-back"      

