.span10.offset1
  %ul.nav.nav-tabs.nav-tabs-register
    %li
      =link_to "/wireframes/register_help_1" do
        %span.tab-number
          1
        Tell us
        %br
        who you are
    %li.active
      =link_to "/wireframes/register_help_2" do
        %span.tab-number
          2    
        Tell us
        %br
        where you live  
    %li
      =link_to "/wireframes/register_help_3" do
        %span.tab-number
          3
        Validate 
        %br
        your account  
  
  .tab-content.register-tab-content
    .register-tab-pane
      %form.form-horizontal
        .control-group
          %label.control-label Address
          .controls.give-mb1-to-inputs
            %input{:type=>"text", :title => "Name", :placeholder=>"Number and Street"}  
            %input{:type=>"text", :title => "Name", :placeholder=>"Town/city"}            
            %input{:type=>"text", :title => "Name", :placeholder=>"County"}            
            %input{:type=>"text", :title => "Name", :placeholder=>"Postcode"}                        
      %form.form-horizontal
        .control-group
          %label.control-label Phone number
          .controls
            %input{:type=>"text", :title => "Name", :placeholder=>"e.g 0114 123123"}              
    .form-actions
      =link_to "Next", "/wireframes/register_help_3", :class=>"btn btn-primary register-btn-next"
      =link_to "Back", "/wireframes/register_help_1", :class=>"btn register-btn-back"      

