%li.list
  .list-image
    =link_to(offer, :class => "pull-left") do
      =image_for_with_validation(offer.user, "60x50#")
      %p.small-text=offer.user
  .list-text
    %h3
      =link_to offer.title, offer
    %p
      -if current_user.try(:validated?)
        =offer.description
      -else
        =offer.category.description
    =link_to("Accept help from #{offer.user}", offer, :class=>"btn small-help-btn")