-offer ||= Offer.new
=semantic_form_for(offer, :url => need_offers_path(@need), :remote => true) do |form|
  .modal-header
    %button.close{:type => "button", :'data-dismiss' => "modal" } &times;
    %h3 Offer to help
  .modal-body
    %p
      Hey thanks for offering to help! Please type your private message below, including any questions that you have for
      ="#{@need.user}."  
    =form.input :post_for_need, :as => :text, :input_html => {:class => "span6", :rows => 5}, :label => "Type your message", :required => false
  .modal-footer
    =form.commit_button "Send", :button_html => {:class => "btn-primary"}