-offer ||= Offer.new
=semantic_form_for(offer, :url => need_offers_path(@need), :remote => true) do |form|
  .modal-header
    %button.close{:type => "button", :'data-dismiss' => "modal" } &times;
    %h3 Offer to help
  .modal-body
    =form.input :post_for_need, :as => :text, :input_html => {:class => "span6", :rows => 5}, :label => "Add a message", :required => false
  .modal-footer
    =form.commit_button "Submit", :button_html => {:class => "btn-primary"}