.row
  .span8.offset2
    %h1
      My offers
      %small (These conversations are NOT visible to the public)
    -if @offers.empty? && @chats.empty?
      Your haven't offered to help anyone yet. Click
      =link_to("here",new_general_offer_path)
      to see who you could help.
    -else
      -if @chats.present?
        %h3 Offers you're chatting about
        %ul.nav.nav-tabs.nav-stacked
          -@chats.order("created_at DESC").reject{ |i| i.offers.select{|o| o.accepted?}.present? }.each do |need|
            %li
              =link_to need do
                .list-image{:rel => 'tooltip', :title => user_address_tooltip(need.user)}
                  =image_for_with_validation(need.user, "60x50#")
                  %p.small-text=need.user
                %h3=need.title
                %h5.needs-description=truncate(need.description, :length =>95)
                %p
                  =messages_badge(current_user.new_notification_count("my_offers", need))
      %h3 Open offers
      %ul.nav.nav-tabs.nav-stacked
        -@offers.order("created_at DESC").reject{ |i| i.accepted? }.each do |offer|
          %li
            =link_to offer.need do
              .list-image{:rel => 'tooltip', :title => user_address_tooltip(offer.need.user)}
                =image_for_with_validation(offer.need.user, "60x50#")
                %p.small-text=offer.need.user
              %h3=offer.need.title
              %h5.needs-description=truncate(offer.need.description, :length =>95)
              %p
                =messages_badge(current_user.new_notification_count("my_offers", offer.need))
      %h3 Accepted offers
      %ul.nav.nav-tabs.nav-stacked
        -@offers.order("created_at DESC").select{ |i| i.accepted? }.each do |offer|
          %li
            =link_to offer.need do
              .list-image{:rel => 'tooltip', :title => user_address_tooltip(offer.need.user)}
                =image_for_with_validation(offer.need.user, "60x50#")
                %p.small-text=offer.need.user
              %h3=offer.need.title
              %h5.needs-description=truncate(offer.need.description, :length =>95)
              %p
                =messages_badge(current_user.new_notification_count("my_offers", offer.need))
-if @general_offers.present?
  .row.mt1
    .span8.offset2
      %h1 My general offers
      %ul.nav.nav-tabs.nav-stacked
        -@general_offers.order("created_at DESC").each do |general_offer|
          %li
            =link_to(general_offer) do
              .list-image
                =image_for_with_validation(general_offer.user, "60x50#")
                %p.small-text=general_offer.user
              %h3=general_offer.title
              %p
                %span.request-message-text=truncate(general_offer.description, :length => 200)

.row
  .span6.offset2
    -if current_user.fully_registered?
      =link_to "Find someone who needs your help", new_general_offer_path, :class=>"btn call-to-action"
    -else
      =link_to "I'd like to offer some help", '#', :class=>"btn call-to-action not-fully-registered-link", :data => {:return_to => new_general_offer_path}
