#address_prompt.modal.hide.fade
  .modal-header
    %h3 Before you go any further...
  .modal-body  
    %p
      You'll need to tell us where you live.
  .modal-footer
    =link_to "Log out", sign_out_path, :method => :delete, :class => "btn pull-left"
    =link_to "Ok", "#", :class => "btn btn-primary", :"data-dismiss" => "modal"