.modal-bg
#confirm-organisation-non-live-area.modal.hide{:"data-user-id" => @pre_register_user.id}
  .modal-header
    %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"}
      ×
    %h3
      Are you sure you don't want to sign up as an organisation?
  .modal-body
    %p="You originally asked to sign up as an organisation, but it looks like you've changed your mind. That's okay, but your neighbourhood isn't live at the moment. If you've made a mistake you can #{link_to('go back to the registration form', new_registration_path)}.".html_safe
    %p Otherwise click 'Next' to find out more about what you can do while you're waiting for your area to become live.
  .modal-footer
    =link_to "Next", '#', :class => "cta-intro", :"data-dismiss"=>"modal"