#group-user-sign-up.modal.hide
  .modal-header
    %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"}
      ×
    %h3
      Sorry you can't do this yet
  .modal-body
    %p.popup-intro
      We need to validate your address before you can access these features.
      
    =link_to "Next >>", '#', :class => "cta-intro", :"data-dismiss" => "modal"