#new_need_not_validated.modal.hide.fade
  .modal-header
    %h3 Thanks for asking for help!
  .modal-body  
    %p
      Before you can see who is offering you help, you'll need to be validated.
  .modal-footer
    =link_to "Ok", "#", :class => "btn btn-primary", :"data-dismiss" => "modal"