#not-validated.modal.hide.fade
  .modal-header
    %h3 Before you go any further...
  .modal-body  
    %p You can't offer help until you've been validated
    %p We'll contact you soon
  .modal-footer
    =link_to "Log out", sign_out_path, :method => :delete, :class => "btn pull-left"
    =link_to "Ok", "#", :class => "btn btn-primary", :"data-dismiss" => "modal"