-if @pre_registration && !@pre_registration.valid?
  =#content_for :head do
  :javascript
    $(document).ready(function(){
      $('#sign-up-popup').modal('show');
    })
    
#sign-up-popup.modal.hide
  .modal-header
    %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"}
      ×
    %h3
      Get involved
    .modal-body
      %p.popup-intro
        =neighbourhood_snippet_text(:preregister_popup, "Here is some text explaining what happens next. This will be edited by John.")
        
      =link_to "Next >>", "#sign-up-popup-preregister", :class=>"cta-intro", :"data-toggle"=>"modal", :"data-dismiss"=>"modal"
    
#sign-up-popup-preregister.modal.hide
  =render("modals/preregister_form")
                
            
              
              
