=semantic_form_for(@pre_registration || PreRegistration.new, :remote => true) do |form|
  .modal-header

    %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"}
      ×
    %h3
      Be part of it
  .modal-body
    .preregister-form
      %p.popup-intro
        =snippet_text(:preregister_popup_intro, "Enter your details below to get involved.")
      
        %form.form-horizontal
          .control-group              
            =form.input :postcode, :input_html => { :class=>'span2', :placeholder => "Postcode"}
          .control-group
            .controls
              =form.input :name, :input_html => { :class=>'span4', :placeholder => "Name"}
          .control-group
            .controls
              =form.input :email, :input_html => { :class=>'span4', :placeholder => "Email"}
          .control-group
            .controls
              =form.commit_button "Go", :button_html => {:data => {}, :class => "btn btn-primary btn-large", :id => "new-pre-registration-form-submit"}
              =link_to "Already registered?", "/login", :class=>"already-registered-link"