/* @override http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require formtastic-bootstrap
 *= require font-awesome
 *= require ym_core
 *= require redactor
 *= require ym_cms
 *= require ym_posts
 *= require ym_messages
 *= require chosen
 *= require_self
 *= require mobile
*/
/*CSS3 magic*/

@-webkit-keyframes reset {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes fade_in {
  0% {
      opacity: 0;
  }
  60% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.fade_in {
  -webkit-animation-name: reset, fade_in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
}

.fade_in.fade_1{-webkit-animation-delay: 0, 0;}
.fade_in.fade_2 {-webkit-animation-delay: 0, 0.2s;}
.fade_in.fade_3 {-webkit-animation-delay: 0, 0.4s;}
.fade_in.fade_4  {-webkit-animation-delay: 0, 0.6s;}
.fade_in.fade_5  {-webkit-animation-delay: 0, 0.8s;}
.fade_in.fade_6 {-webkit-animation-delay: 0, 1s;}
.fade_in.fade_7 {-webkit-animation-delay: 0, 1s;}

.main-nav a  {

     -webkit-transition: .2s ease-in;
     -moz-transition: .2s ease-in;
     transition: .2s ease-in;
}
.intro-circle-icon,
.home-cta-groups  {
     -webkit-transition: .1s ease-in;
     -moz-transition: .1s ease-in;
     transition: .1s ease-in;

}

.what-help {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  border-radius:5px;
}

/*========== Bootstrap extras ==========*/

.badge-square {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*========== Font stuff ==========*/
.subnav_link, #social_media_links ul li a  {
	font-weight: 300;
	font-size: 15px;
	color: #777;
}
body, p {
  
  -webkit-font-smoothing:antialiased;
}

/*========== General ==========*/

.shadow {
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.09), 2px 2px 5px rgba(0,0,0,0.05), 2px 2px 10px rgba(0,0,0,0.04);
	-moz-box-shadow: 1px 2px 1px rgba(0,0,0,0.09), 2px 2px 5px rgba(0,0,0,0.05), 2px 2px 10px rgba(0,0,0,0.04);
	box-shadow:1px 1px 1px rgba(0,0,0,0.09), -1px -1px 1px rgba(0,0,0,0.05), 2px 2px 3px rgba(0,0,0,0.04), 2px 2px 8px rgba(0,0,0,0.03);
}
.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/*========== Forms ==========*/
select[multiple='multiple']{
  width:620px;
}
button.close {
  border: none;
  background: none;
}
form .clearfix-help .help-inline {
  display: block;
  margin-top: 10px;
}

/*========== Font ==========*/

h1,
h2,
h3,
h4,
h5,
h6,
.nav ul,
a.category,
#buy-ticket-link,
.black-btn {
   -webkit-font-smoothing: antialiased;
}

h1,
h2
{
  margin-bottom: 15px;
}
h2.home-title, .big-title, .about_page_view #page_title {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}
.home-slide-title, .medium-title {
  font-size: 30px;
  line-height: 30px;
   font-weight: bold;
}
.nav ul, .nav-tabs-register li, #site_logo, h2#footer_site_logo, h2, .are-you-title, .block-title, .home-subtitle, .small-title {
	font-size: 26px;
	line-height: 28px;
}
.normal-title {
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin-bottom: 20px;

}
body, p,
div, input, select, .btn, label, textarea {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.btn-small {
  font-size: 11px;
  line-height: 16px;
}
.btn-mini {
  font-size: 11px;
  line-height: 14px;
}
a.call-to-action-link, .carousel-text p, .small-text {
  font-size: 13px;
  line-height: 16px;
}
.center {
  text-align: center;
}
.btn {
  font-weight: bold;
}
input {
	height: 30px;
	width: 370px;
	margin-bottom: 20px;
}
label {
  font-weight: bold;
}
label.radio,
label em.optional {
  font-weight:normal;
}
.form-horizontal .control-group {
	margin-bottom: 30px;
}
.give-mb1-to-inputs input {
  margin-bottom: 20px;
}
.mt1 {
  margin-top: 20px;
}
.mt2 {
  margin-top: 40px;
}

.mb1 {
  margin-bottom: 20px;
}
.mb2 {
  margin-bottom: 40px;
}
.mr1 {
  margin-right: 20px;
}
.mr2 {
  margin-right: 40px;
}
.ml1 {
  margin-left: 20px;
}
.ml2 {
  margin-left: 40px;
}
br.clear {
  clear: both;
}
/*========== Header ==========*/
#hellobar {
	background: #fd818e;
	text-align: center;
	position: relative;
	width: 100%;
	padding: 6px 0 10px;
	color: #fff;
}
#hellobar h3 {
}
#hellobar h3 a {
	color: #b22d35;
	border-bottom: 1px dotted #b22d35;
}

#header-row {
  padding: 30px 0;
}
#headline_image {
	box-shadow:1px 1px 3px #ccc

}
#site_logo {
  font-size: 40px;
  line-height: 1;
  float: left;
  margin:0px 0 0 0px;

  /*background: url(/assets/logo.png) no-repeat 0 0;*/
}
#site_logo a {
  color: #333;
  padding: 0px ;
  display: block;
  float: left;
  width: 400px;
}
#site_logo a:hover {
  text-decoration: none;
}
#site_logo span.site_title {
  display: block;
  float: left;
  width: 240px;
  margin: 20px 0 0 15px;
  font-size: 30px;
}
#site_logo span.badge {
  float: right;
  margin-top: -35px;
  margin-right:10px;
}
#site_logo img {
  float: left;
  margin-left: 20px;
}
.main-nav {
	font-size: 22px;
}
.nav-strip {
  float: left;
  margin: 0px 0 40px;
  width: 100%;
  background: #ebe6dc;
	box-shadow:inset 1px -1px 5px rgba(0,0,0,0.04);
}
.nav-strip .nav-tabs {
  margin-bottom: 0;
  margin-top: 15px;
  border: none;
}
.main-nav li {

}
.main-nav li a {
  margin: 0px 0 0 0px;
  padding: 15px 30px 18px;
  line-height: 100%;
  color: #333;
  border: none;
  display: block;
}
.main-nav li a:hover {
  text-decoration: none;
  background: #e1dcd3;
}
.main-nav .active a, .controller_home #link-home a, .slug_about #link-about a, .slug_stories #link-stories a, .controller_needs #link-neighbourhood a {
  color: #00558D;
  background: #fff;
  border: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
#header-links {
  float: right;
  margin-top: 25px;
  margin-right: 40px;
}
.header_link {
  font-size: 14px;
  margin-left: 8px;
}
.subnav_link {
  color: #777;
  margin: 8px 14px 0 0;
  float: left;
}
#header-links .btn-group{
  float: right;
}
#header-links #help-links{
  float:left;
  padding:6px 10px 0px 0px;
}
#header-links #help-links a, #header-links #help-links icon {
  font-size:14px;
  float:left;
  margin-right:5px;
  color:#333;
}
.homepage-box {
  background: #f5f5f5;
  padding: 20px;
  height: 260px;

  box-shadow:inset 0px 1px 10px rgba(0,0,0,0.03);
  -webkit-box-shadow:inset 0px 1px 10px rgba(0,0,0,0.03);
  -moz-box-shadow:inset 0px 1px 10px rgba(0,0,0,0.03);

  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
#social_media_links ul li a {
	float: left;
	width: 100%;
	padding: 4px 0;
	border-bottom: 1px solid #e8e8e8;

}
.homepage-box-short {
  height: 156px;
}
.homepage-box-title {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}
.homepage-box-title a {
  color: inherit;
}

#map-canvas {
  margin-bottom: 30px;
  height: 320px;
}
#map-canvas.admin-map-canvas {
  height:640px;
}

/*========== Flash ==========*/

.flash_container {
  margin-top:0px;
  width: 100%;
  background: #8bd7dd;
  color: #fff;

  -webkit-box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);  
  box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);
}

.flash_container .alert {
  margin-bottom:0px;
  background: none;
  padding: 20px;
  border: none;
  color: #fff;

  text-shadow: none;
  font-weight: bold;  
}
.flash_container .span12 {
  margin: 0 auto;
  float: none;
}
.flash_container .modal {
  color: black;
}
/*========== Homepage ==========*/
#home-intro {
	background: url(/assets/home_intro.png) center -50px no-repeat;
  height: 370px;
  float: left;
  position: relative;
  width: 100%;
}
#home-intro-2 {
	background: #f6f5f1 url(/assets/home_intro_2.jpg) center 0px no-repeat;
  height: 430px;
  float: left;
  position: relative;
  width: 100%;
  margin:0 0 50px
}
.home-intro-inner {
  position: relative;
}
.home-cta {
  display: block;
  position: absolute;
  background:#7288c1;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding:10px 20px;
  top: 210px;
  right: 120px;
  box-shadow:1px 1px 6px rgba(0,0,0,0.1);
  -webkit-border-radius:40px;
  border-radius:40px;
}
.home-cta:hover {
  color: #fff;
  text-decoration: none;
  box-shadow:1px 1px 4px rgba(0,0,0,0.4);
}
a.home-cta-get-involved {
  top: 280px;
  right: 140px;
  background: #73bca8;
}
a.home-cta-groups {
  top: 350px;
  right: 115px;
  background: #8bd7dd;
}
@-webkit-keyframes pulsate {
    0% {opacity: 0.0;}
    20% {opacity: 1.0;}
    80% {opacity: 1.0;}
    100% {opacity: 0.0;}
}
#badge-groups-new {
  position: absolute;
  top: 340px;
  background: #fd818e;
  right: 110px;
  font-size:14px;
  line-height:17px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
}
.illustration-link {
  display: block;
  text-indent: -9000em;
  position: absolute;
  width: 530px;
  left: 90px;
  top: 130px;
  height: 300px;
}
.home-intro-text {
	text-align: center;
	float: left;
	width: 100%;
	color: #b3b070;
	font-size: 26px;
	line-height: 1.1;

}
.home-welcome {
  margin: 50px 0 4px;
  color: #333;
  text-shadow: 2px 2px 2px #f6f5f1;
}
.home-where {
  font-weight: normal;
  color: #999;
  text-shadow: 2px 2px 2px #f6f5f1;
}
.what-help {
	background: #b08193;
	float: left;
	position: relative;
	clear: left;
	width: 720px;
	padding: 30px;
	margin: -30px 0 15px 70px;
	box-shadow:1px 1px 10px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.3);
}
.what-help-text {
  margin-bottom: 0;
  color: #fff;
  float: left;
  margin: 0 30px 0 30px;
}
#what-help-select {
  width: 300px;
  margin: 0;
}
.intro-circles  {
  position: absolute;
  float: left;
  width: 100%;
  top: 0;
  left: 0;
}
.intro-circle-icon {
  display: block;
  float: left;
  text-align: center;
  width: 30px;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-radius:30px;
  position: absolute;

}
.intro-circle-icon:hover {
  width: 40px;
  height: 40px;
  margin-left: -5px;
  line-height: 40px;
  border-radius:40px;
  font-size: 22px;
  color:white;
  text-decoration:none;
}
.circle1 {
  background: #f8bb61;
}
.circle2 {
  background: #b4c773;
}
.circle3 {
  background: #8bd7dd;
}
.circle4, .circle5, .circle6, .circle7 {
  background: #b08193;
}

#circle1 {
	top: 160px;
	left: 267px;
}
#circle2 {
	top: 140px;
	left: 467px;
}
#circle3 {
	top: 190px;
	left: 647px;
}
#circle4 {
  	top: 220px;
  	left: 130px;
  	background: #cf646d;
  }
#circle5 {
	top: 230px;
	left: 317px;
}
#circle6 {
	top: 260px;
	left: 507px;
}
#circle7 {
	top: 260px;
	left: 760px;
	background: #cf646d;
}
#home-map {
   background: url(/assets/map.png) top center no-repeat;

  padding: 0px;
  height: 320px;

  box-shadow:inset 0px 1px 10px rgba(0,0,0,0.03);
  -webkit-box-shadow:inset 0px 1px 10px rgba(0,0,0,0.03);
  -moz-box-shadow:inset 0px 1px 10px rgba(0,0,0,0.03);

  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;

  margin-bottom: 30px;

}

.you-are-in {
	float: right;
	margin: -35px 0 0 0;
}
.you-are-in select {
  margin-left: 10px;
}

.list {
  clear: left;
  padding-bottom: 10px;
  padding-top: 10px;
  float: left;
  min-height: 91px;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.list-image {
  margin-right: 20px;
	float: left;
	position: relative;
	width: 60px;
}
.list-image img {
	float: left;
	width: 60px;
}
.list-image .small-text {
  float: left;
  margin: -10px 0 0 0;
  background: #fd818e;
  color: #fff;
  padding: 2px 0;
  width: 100%;
  text-align: center;
}
.list-image a:hover {
  text-decoration: none;
}
.call-to-action, .call-to-action:hover  {
	color: #fff;
  text-shadow: none;
  background: #f8bb61;
  border-color: #f78a1e;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  margin: 20px 0;
}
.call-to-action.primary, .call-to-action.primary:hover  {
  background: #abd424;
  border-color: #67c621;
}
.call-to-action.blue, .call-to-action.blue:hover  {
  background: #0074CC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-top-color: rgba(0, 0, 0, 0.0976563);
  border-right-color: rgba(0, 0, 0, 0.0976563);
  border-bottom-color: rgba(0, 0, 0, 0.246094);
  border-left-color: rgba(0, 0, 0, 0.0976563);
}
#needs-cycle .call-to-action {
  margin: 0 0 30px 0;
}

/*========== Logged out home ==========*/

body#home.logged_out .help-list{
  float:left;
  height:412px;
  width: 100%;
}

/*========== I can help/need help pages ==========*/

.help-title {
	float: left;
	margin: 4px 15px 0 0;
}
.help-well {
  height: 38px;
}
.need-help-input {
	width: 250px;
	margin: 0px 10px 0 0;
	float: left;
	padding-left: 10px;
	font-size: 18px;
	height: 26px;
}
.can-help-input {
	width: 360px;
	margin: 0px 0 0 0;
	float: right;
	padding-left: 10px;
	font-size: 18px;
	height: 26px;
}
.other-people-help-title {
  border-bottom: 2px dotted #fd818e;
  color: #fd818e;
  padding: 0 0 5px;
  margin: 0 0 5px;
}

.list-result .list-text {
  max-width: 420px;
  float: left;
}
.i-can-help-btn {
	clear: none;
	float: right;
	margin: 15px 10px 0 0;
}

.need-help-btn {
	float: left;
	clear: both;
	margin: 20px 0 0;

}


/*==========  registation page ==========*/
.nav-tabs-register {
  margin-bottom: 0;
}
.nav-tabs-register li {
  margin-right: 7px;
}
.nav-tabs-register li.active {
	color: #619a5f;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-bottom-color: white;
}
.nav-tabs-register li:last-child {
	margin-right: 0;
}
.nav-tabs-register li {
	width: 226px;
	font-size: 20px;
	line-height: 22px;
	padding: 15px 10px 20px;
}
span.tab-number {
	display: block;
	float: left;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	line-height: 45px;
	width: 45px;
	height: 45px;
	background: #0088ce;
	text-align: center;
	border-radius:40px;
	margin: 0 15px 0 10px;
}
li.active span.tab-number {
	background: #619a5f;
}
.register-tab-content {
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 20px;
}
.register-tab-content .form-actions {
	margin: 0;
}
.register-tab-pane {
  padding: 60px 40px 20px;
}
body.controller_group_registrations .register-tab-content {
  border: 1px solid #ccc;
  border-top: none;
}
body.controller_group_registrations .register-tab-pane {
  padding-top: 40px;
}
.register-btn-next, .register-btn-back {
  float: right;
  font-size: 26px;
  padding: 10px 20px;
}
.register-btn-back {
  float: left;
}
li.or {
	margin: 60px 20px 0 40px;
	float: left;
}
.validate-your-account i{
  font-size:70px;
  line-height:90px;
  height:90px;
  margin:0px 20px;
  float:left;
}
.validate-your-account .caption {

}
.validate-your-account .caption .btn {
  width: 100%;
  text-align: center;
  padding-left:0;
  padding-right:0;
}
.validate-your-account .thumbnail:hover {
  border-color: #08C;
}
.validate-by-link {
  color:#333;
}
.validate-by-link:hover {
  text-decoration:none;
  color:#000;
}
.validate-by-link.active {
  border-color: #0088cc;
  background-color:#B8E7FF;
}
.form-horizontal .control-group.radio {
  padding-left:0px;
}
#user_gender_input .choice{
  width:80px;
  float:left;
  padding-top:5px;
}

#user_house_number_input {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
}

#user_house_number_input .controls {
  margin-left: 20px;
}

label#address-label {
  margin-top: 30px;
}

input#user_street_name {
  width: 268px;
}

#user_house_number_input label, #user_street_name_input label {
  float: none;
  width: 100%;
}

#user_house_number_input label {
  margin-left: -20px;
}

#user_street_name_input label {
  text-align: left;
}
/*========== Page stuff ==========*/

#sign-up-call-to-action .well {
	font-size: 20px;
	font-weight: bold;
	background: #619a5f;
	color: #fff;

}

/*========== Footer ==========*/
/*
Sticky Footer by Ryan Fait
http://ryanfait.com/sticky-footer/
*/
html, body {
  height: 100%;
}
.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.push {
  clear: both;
  height: 60px;
}
.footer-wrapper {
	clear: both;
	height: 60px;
}

.footer{
  border-top: 1px solid #EEE;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  float: left;
  width: 100%;
}
.copyright {
  float: left;
}
.footer-logo {
	float: right;
	display: block;
	text-indent: -9000em;
	background: url(/assets/nominet_logo.png) no-repeat top right;
	margin: 5px 0 0 20px;
	width: 170px;
	height: 70px;
}
.footer-links {
  float: left;
  clear: left;
}
.footer-links a {
  padding: 2px 0px;
  float: left;
  clear: left;
}
a.yoomee-logo {
	background: url(/assets/yoomee_logo.png) no-repeat top right;
}

.find-us-on {
	float: right;
	clear: both;
	font-weight: bold;
	margin: 10px 0;

  
}
.find-us-on > li {
  float: left;
  margin: 0 0 0 10px;
}

.link-find-us {
	color: #fff;
  display:block;
  padding: 10px 15px 10px 40px;
  line-height: 1;
  background:#7086bf  url(/assets/find-us-facebook.png ) no-repeat 10px center;
  
  
-moz-border-radius:20px;
-webkit-border-radius:20px;
border-radius:20px;
  
}
.link-find-us-blogger {
  background:#F1A83B url(/assets/find-us-blogger.png ) no-repeat 10px center;
}

.link-find-us-twitter{
  background:#00ACED url(/assets/find-us-twitter.png ) no-repeat 10px center;
}
.find-title {
  padding: 10px;
  
}
.link-find-us:hover {
  text-decoration: none;
  color: #fff;
  
  opacity: 0.9;
}


.no-needs-offers {
	padding-bottom: 60px;
	background: url(/assets/no-needs-offers-arrow.png ) no-repeat bottom right;
  
}






/*========== Control Panel==========*/
#control-panel {
  height: 70px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
  padding: 20px 0px;
  background: #f5f5f5;
}
#control-panel a h3,
#control-panel a p {
  margin-left: 30px;
}
#big-home-icon, #big-home-icon i {
	font-size: 30px;
	line-height: 30px;
	color: #fff;
}
#big-home-icon {
	float: left;
	margin: 0px 10px 0 20px;
	background: #b4c773;
	padding:  10px 12px;
	border-radius:50px;
}
/*========== My requests page ==========*/

.request-message-text {
	color: #888;

}
/*========== request page ==========*/
#request-activity {
	padding-top: 40px;

	background: #f6f6f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f6f6 1%, #ffffff 34%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f6f6f6), color-stop(34%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f6f6 1%,#ffffff 34%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f6f6 1%,#ffffff 34%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f6f6 1%,#ffffff 34%); /* IE10+ */
background: linear-gradient(top,  #f6f6f6 1%,#ffffff 34%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.need-posts li {
  float: left;
  clear: both;
}
.need-post {
	background: #fff;
	float: left;
	border-radius:5px;
	width: 540px;
	padding: 10px 15px 10px;
	-webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.2)
}
.need-post .post-speech {
  min-height: 38px;
}
.need-post .post-action {
  float: right;
  font-size: 13px;
  margin-left: 10px;
}
.need-posts .comments {
  width: 475px;
  float: right;
  clear: both;
}
.request-body {
  min-height: 140px;
}

#need-title small, #offer-title small {
  display:block;
  font-weight:bold;
  line-height:18px;
}
#need-title span{
  display:block;
}
/*========== New offer form ==========*/
.modal form {
  margin-bottom:0px;
}

/*========== User thumbnails ==========*/
.user-thumbnail-large, .user-thumbnail {
  position: relative;
  display: block;
}
.user-thumbnail-large img{
  float:left;
}
.user-thumbnail-large:hover {
  text-decoration: none;
}
.user-thumbnail-large p{
  float: left;
  margin: -10px 0 0 0;
  background: #fd818e;
  color: #fff;
  padding: 2px 0;
  width: 120px;
  text-align: center;
}
.validated-icon {
  position: absolute;
  top: 5px;
  right: 24px;
  width: 25px;
  height: 30px;
  background: url(/assets/validated-icon.png) no-repeat;
}
body.controller_users.action_show .user-thumbnail-large .validated-icon {
  right: 5px;
}
.list-image .validated-icon {
  right: -8px;
  top: -8px;
}
.location-smallprint {
  color: #999;

  font-size: 14px;
  line-height: 1;
}
/*========== Card details ==========*/

.card-details-form .control-group {
  margin-bottom: 10px;
}
.card-details-form .card-details-month {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
}

/*========== Admin users index ==========*/
.table-users td .icon-large{
  line-height:0.5em;
}
.table-users tr {
  cursor:pointer;
}
.table-users td a:hover {
}


/*========== Comments ==========*/

.comment-list .unread {
  background-color: #f5f5f5;
}


/*========== Need form ==========*/

#need_need_to_know_by_input {
  margin-bottom:0px;
}
#need_deadline_input .controls{
  margin-left: 20px;
}

/*========== Help icons ==========*/

.help-icon {
  margin-left: 5px;
}
.formtastic fieldset.inputs .radio {
  position: relative;
}
.formtastic fieldset.inputs .radio .help-icon {
  position: absolute;
  right: 19px;
  top: 0;
}

.post_tags {
  display:inline-block;
}

.controller_neighbourhoods .popover.bottom {
  margin-top: 10px;
}

/*************** neighbourhood champion  ********************/
.post-private-checkbox .controls .checkbox {
  font-size: 12px;
  line-height: 14px;
  margin-right: 10px;
}

.modal dl {
  margin-top:0px;
}

/*========== Neighbourhood page ==========*/
.help-list-wrapper {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 100%;
}
.help-list-wrapper .help-list {
  position: absolute;
  top: 0;
  left: 0;
}

/*========== Categories page ==========*/
.sub-category td.span4{
  padding-left:25px;
}

/*========== Area radius maximums page ==========*/
#area_radius_maximums .control-group,
#area_radius_maximums input {
  margin-bottom: 0
}

/*========== intro page ==========*/
.header-intro {
  background: #fff url(/assets/nav-strip.png) repeat-x bottom;
  padding-bottom: 0px;
  margin: 0 0 40px;
  -webkit-box-shadow:0 1px 8px rgba(0,0,0,0.1);
  box-shadow:0 1px 8px rgba(0,0,0,0.1);
  z-index: 100;
  height: 120px;
}
body.with-control-panel .header-intro,
body.controller_home.logged_out .header-intro {
  margin-bottom: 0;
}
.header-intro-inner {
  position: relative;
}
.header-intro-inner ul.nav {
  width: 500px;
  float: left;
}
.logo-intro {
  display: block;
  float: left;
  margin: 0;
  position: relative;
}
.logo-intro .staging-badge {
  position: absolute;
  top: 10px;
  right: -52px;
}
.header-intro-fixed .logo-intro .staging-badge {
  right: 30px;  
}
.logo-intro-link {
  background: url(/assets/logo-intro.png) no-repeat 0 0;
  display: block;
  width: 244px;
  height: 83px;
  text-indent: -9000em;
  float: left;
  margin: 15px 0 0;
}

#logged-in-user-button {
  float: right;
  margin: 36px 0 0 30px;
}
#logged-in-user-button .btn {
  max-width: 119px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
}

@-webkit-keyframes nav_reset {
  0% {
      top: -83px;
  }
  100% {
      top: 0;
  }
}

@-webkit-keyframes dropdown_nav {
  0% {
      opacity: 0;
  }
  60% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.header-intro-fixed {
  -webkit-animation-name: nav_reset, dropdown_nav;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
}


#header-intro.header-intro-fixed {
  position: fixed;
  z-index: 999;
  top:0;
  width:100%;
  height: 70px;
	background-position:center 66px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3), 1px 1px 4px rgba(0,0,0,0.1);
}
.header-intro-fixed .logo-intro-link {
  background-position: 0 -100px;
  height: 50px;
  margin: 7px;
  width: 230px;
}
.header-intro-fixed .cta-intro {
  margin-top: 13px;
}
.header-intro-fixed .nav {
  margin-top: 22px;
}
.header-intro-fixed #logged-in-user-button {
  margin-top: 15px;
}


.nav-intro {
  float: right;
  margin: 42px 0 0;
}
.nav-intro li {
  float: left;
  margin: 0 0 0 17px;
}
.intro-nav-link {
  color: #333;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.header-intro li.active a,
.root_slug_about .intro-nav-link-about,
.slug_help .intro-nav-link-help,
.controller_home .intro-nav-link-home,
.root_slug_news .intro-nav-link-latest,
.root_slug_neighbourhood_help .intro-nav-link-help,
.controller_groups .intro-nav-link-groups,
.controller_photos .intro-nav-link-groups,
.controller_messages .intro-nav-link-groups,
.controller_message_threads .intro-nav-link-groups,
.root_slug_get_involved .intro-nav-link-get-involved
 {
  color:#98cd41;
  line-height: 1;

}
.intro-nav-link-login {
	margin:  0 10px 0 33px;
}
#get-involved-nav a.intro-nav-link {
  padding-bottom:8px;
}
#get-involved-nav > ul.dropdown-menu {
  left:-41px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#get-involved-nav:hover > ul.dropdown-menu{
  display: block;
}
#get-involved-nav > ul.dropdown-menu > li{
  margin: 0px;
  float:none;
  font-size:16px;
  text-align:center;
}
#get-involved-nav > ul.dropdown-menu > li a:hover{
  background:#98cd41;
}
.header-intro-fixed .intro-nav-link {
	font-size: 16px;
}
.header-intro-fixed a.cta-intro {
  font-size: 16px;
  padding: 8px 10px;
  font-weight: bold;
}
.header-intro-fixed .help-link {
	bottom: -28px;
}
a.intro-nav-link-about {

}
a.intro-nav-link-how {

}
a.intro-nav-link-security {
	width: 65px;
	margin-right: 10px;
}
.nav a.intro-nav-link:hover {
	 background: none;
}
.help-link {
  position: absolute;
  bottom: -40px;
	color: #fff;
	background: #619a5f;
  padding: 1px 11px;
  font-size: 13px;
  right: 0px;
  font-weight: bold;
  z-index: 30;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);     
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.safety-help-link-logged-out {
  right: 79px;
}
.help-link:hover {
  color: #fff;
}
.messages-help-link {
  right: 110px;
  background: #b35860;
}
.login-help-link {
  right: 0px;
  background: #b35860;
}
.login-help-link span.badge {
  background-color: white;
  color: #b35860;
  padding-left: 6px;
  padding-right: 6px;  
}
.cta-intro {
  float: right;
  display: block;
  background: #98cd41;

  color: #fff;
  padding: 10px 15px;
  border-radius:3px;
  -webkit-border-radius:3px;
  font-weight: bold;
  
  margin: 30px 0 0 20px;
}
.header-intro .cta-intro {
  font-weight: bold;
  font-size: 18px;
}
.cta-intro:hover {
  text-decoration: none;
  color: #fff;
}
a.cta-small {
 float: left; 
 margin-left: 0;
}
#cta-1 {
  margin-top: 30px;
}
#cta-2 {
  margin: 10px 0px;
}
#cta-3 {
}
.intro-text {
  background: #fff;
  padding: 0px 0 30px;
  float: left;
  width: 100%;
  color: #666;
  
}
.intro-text h2 {
  color: #000;
}
.intro-text .span8 {

}
.intro-text li {
  margin-left: 50px;
  width: 460px;
  margin-bottom: 10px;
}

.comic-strip {
  float: left;
  width: 100%;
  padding: 0px 0;
  height: 380px;
  position: relative;
}
.comic-strip-inner {
  position: relative;
}
.comic-text {
  position: absolute;
  width: 300px;
  top: 100px;
  right: 10px;
}
.comic-text p {
	font-size: 22px;
	line-height: 1.3;

}
#comic-1 {
  background: #dcd7d3 url(/assets/comic-1.jpg) no-repeat bottom center;
} 
#comic-1 .comic-text {
  top: 110px;
}
#comic-6 .comic-text {
  top: 80px;
  width: 280px;
}
#comic-2 {
  background: #fff url(/assets/comic-2.jpg) no-repeat bottom center;
} 
#comic-2 .comic-text, #comic-4 .comic-text, #comic-6 .comic-text {
  right: auto;
  left: 20px;
}
#comic-3 {
  background: #718ac3 url(/assets/comic-3.jpg) no-repeat bottom center;
  color: #fff;
} 
#comic-4 {
  background: #fff url(/assets/comic-4.jpg) no-repeat bottom center;
  
  
} 
#comic-5 {
  background: #a3cd67 url(/assets/comic-5.jpg) no-repeat bottom center;
  color: #fff;
  -webkit-box-shadow: inset 0 2px 7px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 7px rgba(0,0,0,0.2);
} 
#comic-6 {
  background: #958b81 url(/assets/comic-6.jpg) no-repeat bottom center;
  color: #fff;
} 

.intro-strip {
  float: left;
  width: 100%;
  margin: -40px 0 0;
  padding: 120px 0 0px;
  min-height: 300px;
}
.intro-strip p {
  color: #666;
}
#how-it-works {
  background: url(/assets/how-it-works-map.jpg) no-repeat center 200px;
}
.pencil-line {
  background: url(/assets/pencil-line.png) no-repeat center top;
  height: 20px;
  margin-top: 20px;
}


#security {
  padding-bottom: 20px;
  background: url(/assets/security.jpg) no-repeat center 100px;
  position: relative;
  z-index: 6;
}


#big-cta h2 {
  text-align: center;
}
#big-cta .cta-intro {
  margin: 0 0 0 59px;
  width: 200px;
  text-align: center;
  font-size: 28px;
  padding: 20px 50px;
  float: left;
  
}
#big-cta {
  height: 450px;
  float: left;
  width: 100%;
}



.to-top-link {
  display: block;
  float: left;
  color: #b4b4b4;
  margin: 70px 0 100px 180px;
  padding: 50px 30px;
  background: url(/assets/to-top-link.png) no-repeat top center;
}
.popup-intro {
	margin:0 0 30px 20px;  

}
.bottom-paragraph {
  margin-top: 30px;
  margin-bottom: 20px;
}

/*========== preregister modal form ==========*/

.preregister-form .control-group {
  margin-bottom: 20px;
}
.preregister-form .control-label {
  float: left;
  display: block;
  width: 170px;
  text-align: right;
  margin: 8px 20px 0 0;
}
.preregister-form #new-pre-registration-form-submit {
 margin: 0 0 0 120px; 
 float: left;
}
.already-registered-link {
 float: left;
 margin: 0px 190px;
 font-size: 14px;
}
.modal-body .call-to-action {
  width: 60%;
}
.modal-footer .cta-intro {
  margin-top: 0;
}
.modal-body #need_need_to_know_by_input.radio .help-icon {
  right: inherit;
  left: 160px;
}

/*========== preregistering pages ==========*/

.your-location-title {
  font-size: 36px;
}


.your-location-title i {
  color: #b35860;
}
.preregister-share .well {
}
.share-btn, .share-btn:hover {
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  text-shadow: none;
  background: #536ba7;
  border: none;
  margin: 0 10px 0 0;
}
.share-btn i {
  margin-right: 6px;
}
.twitter-share-btn, .twitter-share-btn:hover {
  background: #3aa4e5;
}
.email-share-btn, .email-share-btn:hover {
  background: rgb(69,128,62);
}

 .elsewhere-list li {
	margin: 0 0 4px
  
}

a.need-help-button {
  float: left;
  display: block;
  background: #b4c772;
  color: #fff;
  padding: 10px;
  margin: 0 5px 5px;
  
  -webkit-border-radius:5px;
  border-radius:5px;
  
}
a.need-help-button:hover {
  background: #609a5f;
  text-decoration: none;
}
.preregister-i-can-help-with .well {
  background: url(/assets/pencil-line.png) no-repeat 0 0;
  border: none;
  box-shadow:none;
  padding-top: 40px;
}

.joined-date {
	font-size: 11px;
	text-align: center;
	width: 120px;
	color: #777777;
}
/*========== offer page wireframe ==========*/

.tag-selectors {
	border-radius:6px;
	-webkit-border-radius:6px;
	
	background: #f5f5f5;
	margin-bottom:30px;
	
	border: 1px solid #ccc;
	box-shadow:1px 1px 4px rgba(0,0,0,0.1)
} 

.tag-selector {
  padding: 20px;
  position: relative;
  
}
.tag-selector-arrow {
  display: block;
  width: 28px;
  height: 14px;
  background: url(/assets/tag-selector-row-2.png);
  position: absolute;
  top: -14px;
  left: 46%;
}
.tag-selector-row-1 {

}
.tag-selector-row-2 {
  background: #d5d5d5;
}

.help-tags li {
  float: left;
  margin: 0 10px 10px 0px;
}
.help-tag {
	font-size: 14px;
  display: block;
  padding: 4px 10px;
  
}
.help-tag-selected {
  background: #619a5f;
  color: #fff;
}
.need-offer-form textarea {
	width:400px;
	min-height: 100px;
	margin-bottom: 20px;
  
}
.need-offer-form .btn-primary {
  background: #619a5f;
}

a.small-help-btn {
  float: left;
  clear: both;
  font-size: 12px;
  line-height: 1;
  padding: 6px 10px;
  margin: -5px 0 0 80px;
}
#suggested-needs.loading {
  margin-top: 20px;
}
#pre-registrations-delete-form .center {
  text-align: center;
}

/*=============  group stuff ===================*/
#group-new-modal .new-message-form {
  margin: 20px 100px;
}
#group-new-modal label {
  font-weight: bold;
  margin-bottom: 20px;
  font-size:18px;
  text-indent: 5px;
  line-height: 1.2;
}
#group-new-modal label span.smallprint {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  float: left;
  clear: left;
} 
.group-bio-textarea {
	min-height: 100px;  
}

.all-groups-strip {
	border-bottom: 2px solid #88d6dc;
	padding-bottom: 15px;
	float: left;
	width: 100%;
	margin: 0px 0 0;
  
}

img.groups-logo-header {
	float: left;
	width: 50px;
	margin: 0 20px 0 0;
  
}

.groups-title {
	line-height: 40px;
  
}

.groups-title small {
  margin-left: 10px;
  text-decoration: underline;
}
.group-nav-tabs a {
  font-weight: bold;
}

.group-members-list li.list {
  width: 33.3%;
  float: left;
  clear: none;
  border: none;
  padding: 0;
}

.group-members-list .list-text{
  padding-left: 90px;
}

.group-members-list .label, h3{
  display:inline;
}

.group-members-list .label{
  margin-left:2px;
}

.group-members-list p.user-city{
  margin-bottom:0;
}

.group-members-list a.send-message{
  font-size:0.8em;
}


.private-messages-holding {
  background: url(/assets/group-show-messages.png ) no-repeat center;
  height: 300px;
}
.groups-tags-list .tag-label {
	padding: 8px 10px;
	font-size: 16px;
	float: left;
	clear: both;
	margin: 0 0 5px;
	background: #89d6dd;
  
}

.group-tile {
  display: block;
  background: #f5f5f5;
  margin-bottom: 20px;
  height: 200px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.group-tile h4 {
  color: #000;
}
.group-tile-image-wrap {
  height: 120px;
  position: relative;
}
.group-tile img {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.group-tile .inner {
  padding: 15px;
}
.group-tile-new {
  background: #fff;
  color: #8bd7dd;
  border: 2px dashed #8bd7dd;
}
.group-tile-new h4 {

  text-align: center;
}
.group-tile-new i {
  margin:40px 65px;
  float: left;
  font-size: 60px;
}
.group-tile-new:hover {
  background: #d8f2f3;
  color: #000;
}
.profile.span3.group-tile{
  margin-left:0;
  margin-right:20px;
  /*margin-top: 2px;*/

}

/*=============  Photo modal ===================*/

#photo-modal {
  margin-left:-320px;
  width: 640px;
}
#photo-modal .modal-header {
  border: none;
}
#photo-modal .modal-body {
  width:580px;
  min-height:420px;
  max-height: 80%;
  overflow-y: visible;
  padding: 0px 30px 30px;
  margin-top: 10px;
}
#photo-modal table {
  height:420px;
  margin:0px;
}
#photo-modal table td {
  text-align:center;
  border:none;
  vertical-align:middle;
  padding:0px;
}

/*=============  Private messages ===================*/

.messages-header {
  background-color: #eee;
  color: #000;  
}
h2.messages-title {
  color: #000;  
}

/*=============  User notifications edit ===================*/
.user-notifications .control-label {
  width: 270px;
}
.user-notifications .controls {
  margin-left: 310px;
}

/*============= Group Registration ================*/

body.controller_groups form .register-tab-pane {
  padding-top: 40px;
}