-content_for(:head) do
  :javascript
    $(document).ready(function() {
      Registration.initValidateStep();
    });
    
=form.hidden_field :current_step, :value => "validate"
=form.hidden_field :validate_by

.well
  %strong Safety and security
  %p
    Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh.
.validate-your-account
  %h2.mb2.mt2
    Validate your account
  -if @user.errors[:validate_by].present?
    .control-group.error.mb-2
      %p.help-inline
        Please click on one of the options below
  %ul.thumbnails
    %li.thumbnail
      =link_to "#", :class => "validate-by-link", :data => {:"validate-by" => "credit_card"} do
        %i.icon-credit-card
        %h3 With a credit card
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      =render("card_details", :form => form)

    %li.thumbnail
      =link_to "#", :class => "validate-by-link", :data => {:"validate-by" => "post"} do
        %i.icon-envelope
        %h3 By post
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    %li.thumbnail
      =link_to "#", :class => "validate-by-link", :data => {:"validate-by" => "organisation"} do
        %i.icon-group
        %h3 With an organisation
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.