%p.mb-3
  Next, we need to know where you live in
  =neighbourhood
=form.hidden_field :current_step, :value => "where_you_live"
=form.inputs(:class => "form-horizontal") do
  =form.input :current_step, :as => :hidden, :value => "where_you_live"
  =form.input :house_number, :label => "Address", :required => false, :input_html => {:placeholder => "House number or name"}, :help => "We will only show your address to people that want to help you."
  =form.input :street_name, :label => false, :required => false, :input_html => {:placeholder => "Street name"}
  =form.input :city, :label => false, :required => false, :input_html => {:placeholder => "Town/city", :value => @user.city}
  =form.input :postcode, :label => false, :required => false, :input_html => {:placeholder => "Postcode", :class => "span2"}
  =form.input :phone, :label => "Phone number <br /><em class='optional'>(optional)</em>".html_safe, :required => false, :input_html => {:placeholder => "e.g. 0114 123123"}, :help => "This is optional but will help if we need to contact you. We promise to keep this private."