%p.mb-3
  =neighbourhood_snippet_text(:reg_form_intro)
  =edit_snippet_link(:reg_form_intro)
=form.inputs(:class => "form-horizontal") do
  .control-group#organisation-as-admin-controls{:class => @user.organisation_as_admin.present? ? '' : 'hide'}
    =form.semantic_fields_for :organisation_as_admin do |f|
      =f.input :name, :label => "Organisation Name", :input_html => {:placeholder => "Enter your organisation's name"}
  =form.input :first_name, :required => false, :help => "Enter your first name", :input_html => {:placeholder => "e.g. John"}
  =form.input :last_name, :required => false, :input_html => {:placeholder => "e.g. Smith"}, :help => "Enter your family name" 
  .control-group{:class => @user.errors[:dob].present? ? 'error' : ''}
    %label.control-label Date of Birth
    .controls#age-select-controls{:class => "#{@user.undisclosed_age? ? "hide" : "show"}"}
      =form.date_select :dob, {:order => [:day, :month, :year], :prompt => true, :start_year => (Time.now.year - 100), :end_year => (Time.now.year)}, :class => "input-medium"
      =form.hidden_field :undisclosed_age
      %span.help-inline=@user.errors[:dob].try(:first)
      %i.icon.icon-question-sign.help-icon{:title => "Please enter your date of birth. We need to make sure you are a responsible adult"}
      %p=link_to "Why are we asking for this?", "#why-age", :'data-toggle' => "modal"
    .controls#undisclosed-age-text{:class => "#{@user.undisclosed_age? ? "show" : "hide" }"}
      You've chosen not to tell us your age
      %br
      =link_to "Change your mind....", "#why-age", :'data-toggle' => "modal"
  =form.input :gender, :as => :radio, :collection => [["Male","male"], ["Female","female"]]
