%p.mb-3
  First, please tell us who you are.
=form.hidden_field :current_step, :value => "who_you_are"
=form.inputs(:class => "form-horizontal") do
  =form.input :first_name, :required => false, :help => "Enter your first name", :input_html => {:placeholder => "e.g. John"}
  =form.input :last_name, :required => false, :input_html => {:placeholder => "e.g. Smith"}, :help => "Enter your family name"
  .control-group{:class => @user.errors[:dob].present? ? 'error' : ''}
    %label.control-label Date of Birth
    .controls
      =form.date_select :dob, {:order => [:day, :month, :year], :prompt => true, :start_year => (Time.now.year - 100), :end_year => (Time.now.year)}, :class => "input-medium"
      %span.help-inline=@user.errors[:dob].try(:first)
      %i.icon.icon-question-sign.help-icon{:title => "Please enter your date of birth. We need to make sure you are a responsible adult"}
  =form.input :gender, :as => :radio, :collection => [["Male","male"], ["Female","female"]]
  =form.input :email, :label => "Email address", :required => false, :help => "Enter the email address you would like to use for logging in again. We promise not share this with others.", :input_html => {:placeholder => "e.g. john@email.com"}
  =form.input :email_confirmation, :label => "Confirm email address", :required => false, :help => "Type your email address again so that we can check there are no typos", :input_html => {:placeholder => "e.g. john@email.com"}
  =form.input :password, :required => false, :help => "Choose a password that would you like to use to login"
  =form.input :password_confirmation, :label => "Confirm password", :required => false, :help => "Type the password again so that we can make sure you haven't made a mistake"