-body_tag do  
  .main-wrapper
    =render("layouts/logged_in/header")
    =yield_with_bootstrap(yield)
    .push
  -if current_user.nil?
    =render('modals/register_popup')
  -elsif params[:modal]=="address_prompt"
    =render('modals/address_prompt')
  -elsif params[:modal]=="validation_prompt"
    =render('modals/validation_prompt')
  .footer-wrapper
    =render("layouts/footer")