#top
#header-intro-placeholder
#header-intro.header-intro        
  .container.header-intro-inner
    .row
      .span12   
        %h1.logo-intro
          =link_to "Neighbours Can Help", "/", :class=>"logo-intro-link"
          -if STAGING
            .staging-badge
              %span.badge.badge-warning Staging
        -if current_user
          #logged-in-user-button.btn-group
            =link_to(current_user, :class => 'btn') do
              %icon.icon-user
              =current_user.full_name
            =link_to('#', :data => {:toggle => "dropdown"}, :class => 'btn dropdown-toggle') do
              %span.caret
            %ul.dropdown-menu.pull-right
              -if can?(:index, :admin)
                %li=link_to('Admin', admin_path, :icon => 'cogs')
              %li=link_to('View profile', current_user, :icon => 'user')
              %li.divider
              -if current_user.is_community_champion? || current_user.is_admin?
                %li=link_to('Discussion forum', neighbourhood_posts_path(:neighbourhood => "sheffield"), :icon => 'comments-alt')
                %li.divider
              %li=link_to('Edit profile', edit_user_path(current_user), :icon => 'cog') 
              %li=link_to('Change password', change_password_path, :icon => 'key')
              %li=link_to(t(:logout), sign_out_path, :method => :delete, :icon => 'signout')
        %ul.nav.nav-intro.unstyled                
          %li=link_to "Home", root_path, :class=>"intro-nav-link-home intro-nav-link"     
          -neighbourhood = current_user.neighbourhood
          %li=link_to('About', neighbourhood ? neighbourhood_about_path(neighbourhood) : Page.find_by_slug(:about), :class=>"intro-nav-link-about intro-nav-link")
          %li=link_to('Groups', groups_path, :class=>"intro-nav-link-groups intro-nav-link")
          %li.dropdown#get-involved-nav
            =link_to_slug('Get involved', :get_involved, :class=>"intro-nav-link intro-nav-link-get-involved")
            -if get_involved_page = Page.find_by_slug(:get_involved)
              %ul.dropdown-menu
                -get_involved_page.children.each do |child|
                  %li=link_to_self(child)
          %li=link_to_slug('News', :news, :class=>"intro-nav-link-latest intro-nav-link")
          %li=link_to("Help", neighbourhood ? neighbourhood_help_path(neighbourhood) : Page.find_by_slug(:help), :class=> "intro-nav-link intro-nav-link-help")
    =link_to_slug('Stay safe', :safety_tips, :class=>"help-link", :icon => 'question-sign')

=yield_with_bootstrap(render_flash, :container_class => "container flash_container") if flash.present?
      
-if show_control_panel?      
  .container
    .row
      #control-panel.span12
        .row
          .span3
            =link_to root_path, :id=>"big-home-icon" do
              %i.icon-home          
            %h3.control-panel-title
              Account status
            %p.control-panel-subtitle
              -if current_user.validated?
                Address validated
              -else
                Address not validated
          .span2
            =link_to user_needs_path(current_user), :class=>"control-panel-link" do
              %h3.control-panel-title
                My requests
              %p.control-panel-subtitle
                -if controller_name.needs? && action_name.show?
                  =header_messages_badge(0)
                -else
                  =header_messages_badge(current_user.new_notification_count("my_requests"))
          .span2
            =link_to offers_path, :class=>"control-panel-link" do
              %h3.control-panel-title
                My offers
              %p.control-panel-subtitle
                -if controller_name.offers? && action_name.show?
                  =header_messages_badge(0)
                -else
                  =header_messages_badge(current_user.new_notification_count("my_offers"))
          .span2
            =link_to groups_path, :class=>"control-panel-link" do
              %h3.control-panel-title
                My groups
            =link_to messages_path do
              %p.control-panel-subtitle
                =header_messages_badge(current_user.unread_message_count)
          .span3
            =link_to messages_path(:context => "NCH"), :class=>"control-panel-link" do
              %h3.control-panel-title
                The NCH team
              %p.control-panel-subtitle
                =header_messages_badge(current_user.unread_message_count)
          
