#top
#header-intro.header-intro        
  .container.header-intro-inner
    .row
      .span12   
        %h1.logo-intro
          =link_to "Neighbours Can Help", "/", :class=>"logo-intro-link"
          -if STAGING
            %span.badge.badge-warning Staging
       
        -if current_user
          #logged-in-user-button.btn-group
            =link_to(current_user, :class => 'btn') do
              %icon.icon-user
              =current_user.full_name
            =link_to('#', :data => {:toggle => "dropdown"}, :class => 'btn dropdown-toggle') do
              %span.caret
            %ul.dropdown-menu.pull-right
              -if can?(:index, :admin)
                %li
                  =link_to(admin_path) do
                    %icon.icon-cogs
                    Admin
              %li
                =link_to(current_user) do
                  %icon.icon-user
                  View profile  
              %li.divider
              -if current_user.is_community_champion? || current_user.is_admin?
                %li
                  =link_to(neighbourhood_posts_path(:neighbourhood => "sheffield")) do
                    %icon.icon-comments-alt
                    Discussion forum  
                %li.divider
              %li
                =link_to(edit_user_path(current_user)) do
                  %icon.icon-cog
                  Edit profile
              %li
                =link_to(change_password_path) do
                  %icon.icon-key
                  Change password
              %li
                =link_to(sign_out_path, :method => :delete) do
                  %icon.icon-signout
                  =t(:logout)  
        %ul.nav.nav-intro.unstyled                
          %li=link_to "Home", root_path, :class=>"intro-nav-link-home intro-nav-link"     
          -if (neighbourhood = current_user.neighbourhood)
            %li=link_to('About', neighbourhood_about_path(neighbourhood), :class=>"intro-nav-link-about intro-nav-link")
            %li=link_to('Groups', groups_path, :class=>"intro-nav-link-groups intro-nav-link")
            %li=link_to('Latest news', neighbourhood_news_path(neighbourhood), :class=>"intro-nav-link-latest intro-nav-link")
            %li=link_to("Help", neighbourhood_help_path(neighbourhood), :class=> "intro-nav-link-help intro-nav-link")
          -else
            %li=link_to_slug('About', :about, :class=>"intro-nav-link-about intro-nav-link")
            %li=link_to('Groups', groups_path, :class=>"intro-nav-link-groups intro-nav-link")          
            %li=link_to_slug('Latest news', :news, :class=>"intro-nav-link-latest intro-nav-link")
            %li=link_to_slug("Help", :help, :class=> "intro-nav-link-help intro-nav-link")
    =link_to(messages_path, :class => "help-link messages-help-link") do
      %icon.icon-envelope
      Messages
      -if unread_message_count > 0
        %span.badge=unread_message_count
    =link_to_slug(:safety_tips, :class=>"help-link") do
      %icon.icon-question-sign
      Stay safe

=yield_with_bootstrap(render_flash, :container_class => "container flash_container") if flash.present?
      
-if show_control_panel?      
  .container
    .row
      #control-panel.span12
        .row
          .span3
            =link_to root_path, :id=>"big-home-icon" do
              %i.icon-home          
            %h3.control-panel-title
              Account status
            %p.control-panel-subtitle
              -if current_user.validated?
                Address validated
              -else
                Address not validated
          .span3
            =link_to user_needs_path(current_user), :class=>"control-panel-link" do
              %h3.control-panel-title
                My requests
              %p.control-panel-subtitle
                -if controller_name.needs? && action_name.show?
                  =header_messages_badge(0)
                -else
                  =header_messages_badge(current_user.new_notification_count("my_requests"))
          .span3
            =link_to offers_path, :class=>"control-panel-link" do
              %h3.control-panel-title
                My offers
              %p.control-panel-subtitle
                -if controller_name.offers? && action_name.show?
                  =header_messages_badge(0)
                -else
                  =header_messages_badge(current_user.new_notification_count("my_offers"))
          .span3
            =link_to groups_path, :class=>"control-panel-link" do
              %h3.control-panel-title
                My groups
              %p.control-panel-subtitle
                =header_messages_badge(current_user.unread_message_count)
          
