.container
  .row
    .span12
      %footer.footer
        %p.copyright
          &copy; Neighbours Can Help Ltd          
        =link_to "Nominet trust", "http://www.nominettrust.org.uk/", :Target=>"_blank", :class=>"nominet-logo footer-logo"
        =link_to "Yoomee", "http://www.yoomee.com/", :Target=>"_blank", :class=>"yoomee-logo footer-logo"