%footer.footer
  .container
    .row
      .span4
        %p &copy; Neighbours Can Help Ltd
        %p Provincial House, Solly Street, Sheffield S1 4BA
        %ul.unstyled.footer-links.mt-2
          %li
            =link_to_slug(:help, :class=>"") do
              %icon.icon-question-sign
              Help
          =li_with_active(@page && (@page.slug == "safety_tips" || @page.descendant_of_slug("safety_tips")), link_to_slug(:safety_tips, :class=>""))
          =li_with_active(current_page?(feedback_path), link_to("Contact us", feedback_path, :class => ""))
      .span4
        %p.ml-3 Photos on flickr          
        #flickr_badge_wrapper
          %script{src: "http://www.flickr.com/badge_code_v2.gne?count=6&display=random&size=s&layout=x&source=user&user=103990664@N04", type: "text/javascript"}
      .span4
        %ul.unstyled.find-us-on
          %li.find-title Find us on
          %li=link_to "Facebook", "https://www.facebook.com/NeighboursCanHelp", :class=>"link-find-us link-find-us-facebook", :target=>"_blank", :title=>"Like us!"
          %li=link_to "Twitter", "https://twitter.com/NeighbrsCanHelp", :class=>"link-find-us link-find-us-twitter", :target=>"_blank", :title=>"Follow for updates, news and more"
        =link_to "Nominet trust", "http://www.nominettrust.org.uk/", :Target=>"_blank", :class=>"nominet-logo footer-logo"
        =link_to "Yoomee", "http://www.yoomee.com/", :Target=>"_blank", :class=>"yoomee-logo footer-logo"
        