.container#header
  .row#header_row
    .span5
      %h1#site_logo
        =link_to "Neighbours Can Help", "/"
    .span7
      #header_links
        -if current_user
          .btn-group
            =link_to(current_user, :class => 'btn') do
              %icon.icon-user
              =current_user
            =link_to('#', :data => {:toggle => "dropdown"}, :class => 'btn dropdown-toggle') do
              %span.caret
            %ul.dropdown-menu.pull-right
              -if current_user.is_admin?
                %li=link_to "Admin", admin_path, :class=>"nav-link"
                %li.divider
              %li
                =link_to(edit_user_path(current_user)) do
                  %icon.icon-cog
                  Edit profile
              %li
                =link_to(change_password_path) do
                  %icon.icon-key
                  Change password
              %li
                =link_to(sign_out_path, :method => :delete) do
                  %icon.icon-signout
                  =t(:logout)
      #nav.main-nav
        %ul.unstyled
          -if current_user
            %li=link_to "Requests", needs_path, :class=>"nav-link"
          -else
            %li=link_to "Login", sign_in_path, :class=>"nav-link btn"
          %li=link_to "Blog", "/wireframes/blog", :class=>"nav-link"
          %li=link_to "About", "/wireframes/about", :class=>"nav-link"
          %li=link_to "Home", "/", :class=>"nav-link"
-if current_user
  .container
    .row
      #control-panel.span12
        .row
          .span2.offset1
            =link_to root_path, :id=>"big-home-icon" do
              %i.icon-home
          .span3    
            %h3.control-panel-title
              Account status
            %p.control-panel-subtitle
              -if current_user.validated?
                Validated
              -else
                Not validated
          .span3
            =link_to user_needs_path(current_user), :class=>"control-panel-link" do
              %h3.control-panel-title
                My requests
              %p.control-panel-subtitle
                %span.badge.badge-info 12
                Messages
          .span3
            =link_to offers_path, :class=>"control-panel-link" do
              %h3.control-panel-title
                My offers
              %p.control-panel-subtitle
                %span.badge.badge-info 9
                Messages
  
  
          