.container#header
  .row#header_row
    .span5
      %h1#site_logo
        =link_to "Neighbours Can Help", "/"
    .span7
      #nav.main-nav
        %ul.unstyled
          -if current_user
            %li=link_to "Logout", sign_out_path, :method => :delete, :class=>"nav-link btn"
            %li=link_to "Requests", needs_path, :class=>"nav-link"
          -else
            %li=link_to "Login", sign_in_path, :class=>"nav-link btn"
          %li=link_to "Blog", "/wireframes/blog", :class=>"nav-link"
          %li=link_to "About", "/wireframes/about", :class=>"nav-link"
          %li=link_to "Home", "/", :class=>"nav-link"
-if current_user
  .container
    .row
      #control-panel.span12
        .row
          .span2.offset1
            =link_to root_path, :id=>"big-home-icon" do
              %i.icon-home
          .span3    
            %h3.control-panel-title
              Account status
            %p.control-panel-subtitle
              Not validated
          .span3
            =link_to user_needs_path(current_user), :class=>"control-panel-link" do
              %h3.control-panel-title
                My requests
              %p.control-panel-subtitle
                %span.badge.badge-info 12
                Messages
          .span3
            =link_to offers_path, :class=>"control-panel-link" do
              %h3.control-panel-title
                My offers
              %p.control-panel-subtitle
                %span.badge.badge-info 9
                Messages
  
  
          