!!!5
%html
  %head
    %title
      =Settings.site_name
      ="- #{@page_title}" if @page_title.present?
    =stylesheet_link_tag("application")
    =javascript_include_tag("application")
    =csrf_meta_tags
    =yield :head
    =google_analytics_js
  -body_tag do  
    .main-wrapper
      #hellobar
        %h3
          New to this site?
          =link_to "Find out how it works", "/wireframes/about"
      -if flash.present?
        =yield_with_bootstrap(render_flash)
      =render("layouts/header")
      =yield_with_bootstrap(yield)
      .push
    -if current_user.nil?
      =render('modals/register_popup')
    -elsif params[:modal]=="no_address"
      =render('modals/no_address')
    .footer-wrapper
      =render("layouts/footer")