!!!5
%html
  %head
    %title
      =Settings.site_name
      ="- #{@page_title}" if @page_title.present?
    =stylesheet_link_tag("application")
    <!--[if IE 6]>
    =stylesheet_link_tag("ie6")
    <![endif]-->
    =javascript_include_tag("application")
    =csrf_meta_tags
    =yield :head
    :javascript
      $(document).ready(function() {
        IntroPageNav.init();
      });
    =google_analytics_js
    
    -body_tag(:class => "#{show_control_panel? ? 'with-control-panel' : ''}") do  
      .main-wrapper
        -if current_user
          =render("layouts/logged_in/header")
        -else
          =render("layouts/logged_out/header")
        =yield_with_bootstrap(yield)
        .push
      -if current_user.nil?
        =render('modals/register_popup')
      -elsif params[:modal]=="address_prompt"
        =render('modals/address_prompt')
      -elsif params[:modal]=="validation_prompt"
        =render('modals/validation_prompt')
      -elsif params[:modal]=="new_need_not_validated"
        =render('modals/new_need_not_validated')
      .footer-wrapper
        =render("layouts/footer")
      -if current_user.nil?
        =render ('pre_registrations/modals')
      -elsif current_user.role_is?(:group_user)
        =render ('modals/group_user_sign_up')